{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<article class="post">
	<div class="flexbox-container_IB">
		{% if messages %}
        <ul class="message-list">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <!-- <br> -->
        {% endif %}		
			<div class="post-content">		
				<div class="text-center">
				<br>
				<h2>List of Levelling Staves and Certificates</h2>
				<hr>
				<br>
				</div>           
            {% if staff_list %}
            <table style="table-layout: fixed; width: 100%">
                <tr>
                    <th>Job Number</th>
                    <th>Instrument No</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Scale Factor</th>
                    <th class="text-center">Field Book</th>
                    <th>Calibration Date</th>
                    <th class="text-center">Certificate</th>
                </tr>
                {% for element in staff_list %}
                <tr>
                    <td>{{ element.job_number }}</td>
                    <!-- <td> <a class="a_link" href="{{ element.inst_staff.get_absolute_url }}">{{ element.inst_staff.staff_number }}</a> </td> -->
                    <td>{{ element.inst_staff.staff_number }}</td>
                    <td>{{ element.inst_staff.staff_model.model }} ({{ element.inst_staff.staff_model.make }})</td>
                    <td>{{ element.inst_staff.staff_type|title }}</td>
                    <td>{{ element.scale_factor|stringformat:"1.6f" }}</td>
                    <td class="text-center">
                        {% if element.field_url %}
                            <a href="{{ element.field_url|default_if_none:'#' }}" target="__blank">
                                <svg version="1.1" baseProfile="tiny" id="report-view" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="16" height="16" viewBox="0 0 42 42" xml:space="preserve">
                                    <path fill-rule="evenodd" d="M22.5,1.5h-14c-2.55,0-3,0.561-3,3v32c0,2.49,0.55,3,3,3h24c2.5,0,3-0.47,3-3v-22h-13V1.5z M35.5,11.5l-10-10v10H35.5z"/>
                                  </svg>
                            </a></td>
                        {% else %}
                            <a href="#">-</a>
                        {% endif %}
                    <td>{{ element.calibration_date }}</td>
                    
                    <td class="text-center">
                        {% if element.report_url %}
                            <a href="{{ element.report_url|default_if_none:'#' }}" target="__blank">
                                <svg version="1.1" baseProfile="tiny" id="report-view" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="16" height="16" viewBox="0 0 42 42" xml:space="preserve">
                                    <path fill-rule="evenodd" d="M22.5,1.5h-14c-2.55,0-3,0.561-3,3v32c0,2.49,0.55,3,3,3h24c2.5,0,3-0.47,3-3v-22h-13V1.5z M35.5,11.5l-10-10v10H35.5z"/>
                                  </svg>
                            </a>
                        {% elif element.field_book %}
                            <a href="{% url 'staffcalibration:print-report' element.job_number %}" target="__blank">
                                <svg version="1.1" baseProfile="tiny" id="report-view" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="16" height="16" viewBox="0 0 42 42" xml:space="preserve">
                                    <path fill-rule="evenodd" d="M22.5,1.5h-14c-2.55,0-3,0.561-3,3v32c0,2.49,0.55,3,3,3h24c2.5,0,3-0.47,3-3v-22h-13V1.5z M35.5,11.5l-10-10v10H35.5z"/>
                                  </svg>
                            </a>
                        {% endif %}
                    </td>
                </tr>               
                {% endfor %}
            </table>
            {% endif %}
            <div><i>* The most recent records only</i></div>
			</div>
	</div>	
</article>
	
{% endblock %}