{% extends 'base_popup.html' %}
{% load i18n %}
{% load static %}


{% block content %} 

<article class="post">
    <div class="post-content">
        <form action="" class="site-form" method="post" enctype="multipart/form-data">
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                <h2 class="text-center">Add new calibration</h2>
            </div>
            <div class="mb-3 px-2 site-form-header">
                <p class="text-center text-lg"><u>Step {{ wizard.steps.step1 }} of  {{ wizard.steps.count }}</u></p>
            </div>

            {% csrf_token %}
            
            <table>
                {{ wizard.management_form }}
				{% if wizard.form.forms %}
			        {{ wizard.form.management_form }}
			        {% for form in wizard.form.forms %}
			            <tr>{{ form }}</tr>
			        {% endfor %}
			    {% else %}
                    {% for field in form %}
                        <tr>
                            <td width="30%">{{ field.label_tag }}</td>
                            <td width="65%"> 
                                {{ field }} 
                                <!-- Errors -->
                                {% for error in field.errors %}
                                    <p class="error error-danger">{{ error }}</p>
                                {% endfor %}
                                <!-- Help text -->
                                {% if not field.field.widget.attrs.placeholder and field.help_text %}
                                    <p class="helptext">{{ field.help_text }}</p>
                                {% endif %}
                            </td>
                            <td width="5%">
                                {% if field.name == 'inst_level' %}
                                    <!-- <button class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer" onclick="return showAddPopup(this);">&#43;</button> -->
                                    <a href="/instruments/inst_level_create_popup" target="_blank" class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer" onclick="return showAddPopup(this);" id="add_level">&#43;</a>
                                {% endif %}    
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
        
            </table>
             
            <div class="wizard-button-container">
				{% if wizard.steps.prev %}
					<button class="next-button bg-indigo-400 hover:bg-indigo-300 text-base" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate> {% trans "<span>&#171;</span> Previous" %}</button>
                    <!-- <button class="next-button bg-green-500 hover:bg-green-300" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "First" %}</button> -->
                {% endif %}

				{% if wizard.steps.next %}
					<!-- <a href="{% url 'instruments:home' inst_disp='staff' %}" class="cancelbtn bg-red-500 hover:bg-red-300 text-center">Cancel</a> -->
                    <button onclick="closeWin()" class="cancelbtn bg-red-500 hover:bg-red-300 text-center" type="submit">Cancel</button>
					<button class="next-button bg-green-500 hover:bg-green-400 text-base" type="submit">Next</button>
				{% else %}
					<!-- <a href="{% url 'instruments:home' inst_disp='staff' %}" class="cancelbtn bg-red-500 hover:bg-red-300 text-center">Cancel</a> -->
                    <button onclick="closeWin()" class="cancelbtn bg-red-500 hover:bg-red-300 text-center" type="submit">Cancel</button>
					<button class="next-button bg-green-500 hover:bg-green-400 text-base" type="submit">Save</button>
				{% endif %}
			</div>
            
        </form>
    </div>

</article>


<script>
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_level/, '');
        // console.log(name)
        href = triggeringLink.href;
        var win = window.open(href, name, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=500,height=400");
        win.focus();
        return false;
    }

    levelOptions = document.querySelector("#id_inst_staff_record_form-inst_level")
    function closePopup(win, newID, newRepr) {
        // $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        // console.log(id, newID, newRepr)
        window.sessionStorage.setItem('new_level',  newID);
        win.close();
    }

    let newLevelValue = sessionStorage.getItem('new_level');
    if (newLevelValue) {
        for(var i = 0;i < levelOptions.options.length;i++){
                if(levelOptions.options[i].value == newLevelValue ){
                    levelOptions.options[i].selected = true;
                }
            }
        
        window.sessionStorage.clear()
    }

    function closeWin() {
        window.close();
    }

</script>

<body onunload="javascript:refreshParent()">

{% endblock %}