# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Python Caches #
#################
*.pyc


# virtual environment
##################
.venv
.env.*

# Static
###################
staticfiles