# Logs and databases #
######################
*.log
*.sql
*.sqlite3

# Python Caches #
#################
*.pyc


# virtual environment
##################
.venv
.env.*

# Static
###################
staticfiles

# Media
###################
media/CalibrationSite
media/media
media/RangeCalibration
media/StaffCalibration