# Logs and databases #
######################
*.log
*.sql
*.sqlite3

# Python Caches #
#################
*.pyc


# virtual environment
##################
.venv
.env.*

# Static
###################
staticfiles

# Media
###################
media/CalibrationSite
media/edmi_calibration
media/media
media/RangeCalibration
media/StaffCalibration
media/calibration_certificates
media/accreditation_certificates
media/pillar_survey
media/InstrumentPhotos
