{% extends 'base_generic.html' %}
{% load static %}

{% block content %}


<article class="post">
    <div class="post-header mt-12 text-center mb-3">
        <h2>Activation Code sent.</h2>
        
    </div>
    <div class="post-content">
        <p>We have sent you an email with an activation code. Please click on the link in your email to complete the registration and log in.</p>
        <br>
        <p>If you do not see the email in your inbox, check your spam box.</p>
    </div> 
   
</article>

{% endblock %}