{% extends 'base_generic.html' %}
{% load static %}


{% block content %} 

        <article class="post">
            <header class="post-header">
                <h2 class="post-title text-center"> The password has been changed </h2>
            </header>
            <div class="post-content">
                <div class="text-center">
                	<button class="px-2 py-1 border border-transparent text-base leading-3 font-small rounded text-white bg-blue-500 hover:bg-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" onclick="location.href='/accounts/login/'">Log in &#8811;</button>
                </div>
        </article>

{% endblock %}