{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

 <article class="post">
  	<header class="post-header">
    	<h2 class="text-center">Forgot password</h2>
    	<p class="text-center">Please enter your email address so we can send you and email to reset your password.</p>
  	</header>		
	<div class="post-content">

		<form class="site-form" action="#" method="post">
			<div class="form-container">
                {% csrf_token %}
                <table>
                    <colgroup>
                        <col span="1" width="30%">
                        <col span="2" width="70%">
                    </colgroup>
                    {% for field in form %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td> 
                                {{ field }}
                                 <!-- Errors -->
                                {% for error in field.errors %}
                                    <p class="error error-danger">{{ error }}</p>
                                {% endfor %}
                                <!-- Help text -->
                                {% if not field.field.widget.attrs.placeholder and field.help_text %}
                                    <p class="helptext">{{ field.help_text }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <!--  Submit button -->
                <button type="submit" name="login" class="submit-button">Reset Password</button>
                
            </div>
	  </form>

{% endblock %}