{% if widget.is_initial %}
    {{ widget.initial_text }}: <a href="{{ widget.value.url }}" target="_blank">{% if widget.value|length > 40 %} ...{% endif %}{{ widget.value|stringformat:'s' |slice:"-40:" }}</a>
        {% if not widget.required %}
            <br>{{ widget.clear_checkbox_label }}:<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
        {% endif %}<br>
        {{ widget.input_text }}:
    {% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>