/* Style the tab */
.vertical-tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.vertical-tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.vertical-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.vertical-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 70%;
  border-left: none;
  height: 300px;
}

.contents-display div {
  border: 1px black dotted;
  /* display: none;  */
}

.contents-display div:target {
  display: block; 
  border-bottom: 2px solid gray;
}

.header-sublinks {
  position: absolute;
  background-color: #e1e3e4;
  /* width: 50%; */
  right:0;
  margin-top: 1.25rem;
  padding: 0.5rem 0.5rem 0.875rem 2rem;
  list-style: none;
  text-align: right;
  z-index: 1001;
}

.header-sublinks li {
  display: flex;
  /* position: relative; */
  padding: 0.25rem 0.5rem;
}

.header-sublinks {
  display: none;
}

.header-sublinks a {
  /* background:red; */
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0.25rem 0.25rem;
}

.header-sublinks a:hover {
  color: #0a84ff;
  /* text-decoration: underline; */
}

#header-toggle {
  text-decoration: none;
  color: inherit;
}

.rotate {
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.rotate.down {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}