{% extends 'base_generic.html' %}
{% load static %}


{% block content %}

<article class="post">
    <div class="mt-10">
        {% if not user.is_authenticated %}
            <p class="text-lg">Please 
                <a href="{% url 'accounts:login' %}" class="hover:a">
                    login
                </a> or 
                <a href="{% url 'accounts:signup' %}" class="hover:a">
                    signup
                </a> to manage and calibrate your surveying instruments.</p>
        {% endif %}
        <h2>COMPANY INSTRUMENT CERTIFICATES</h2>
        <p>Click on the instrument types on the left menu to display your available certificates: </p>
    </div>
    {% if messages %}
        <ul class="alert messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}	
    <hr>
    <div class="flex-with-sidebar">
        <div class="left-sidebar">
            {% for inst in inst_types %}
                {% if inst.abbr == 'edm' %}
                    <button class="tablinks" onclick="openTab(event, '{{inst.abbr}}')" id="defaultOpen">{{ inst.name }}</button>
                {% else %}
                    <button class="tablinks" onclick="openTab(event, '{{inst.abbr}}')">{{ inst.name }}</button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-content pxl-2">
            <div id="edm" class="tab-content">
                <h3 class="pxr-5">Register a New EDM Certificate
                    <span class="pxl-5">
                        <a href="{% url 'instruments:certificate_edit' inst_type="edmi" id=None %}">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available EDMs</h2>
				{% if edm_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th width="24%">EDM</th>
							<th width="23%">Prism</th>
							<th width="12%">Calibration Date</th>
							<th width="17%">Scale Correction Factor</th>
							<th width="11%">Zero Point Correction</th>
							<th width="13%">Action</th>
						</tr>			
						{% for edm in edm_page_obj %}
							<tr>
								<td>{{ edm.edm }}</td>
								<td>{{ edm.prism }}</td>
								<td>{{ edm.calibration_date }}</td>
								<td>{{ edm.scale_correction_factor }}</td>
								<td>{{ edm.zero_point_correction }}</td>
								<td>
									<span class="flex justify-around items-center text-center">
										<a href="{% url 'instruments:certificate_edit' inst_type="edmi" id=edm.pk %}" target="__blank" class="px-3">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-pencil-fill" id = "edit-view" viewBox="0 0 16 16">
												<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
											</svg>
										</a>  
										<a href="{% url 'instruments:certificate_delete' inst_type="edmi" id=edm.pk %}" class="px-2" onclick="return confirmation()">
											<svg width="16" height="16" viewBox="0 0 16 16" fill="red" class="bi bi-trash">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
											</svg>
										</a>
									</span>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
                    <p> There are currently no edm certificates listed.</p>
				{% endif %}

				{% if edm_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if edm_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ edm_page_obj.number }} of {{ edm_page_obj.paginator.num_pages }} 
							</span>
					
							{% if edm_page_obj.has_next %}
								<a href="?page={{ edm_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ edm_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
            

            <div id="staff" class="tab-content">
                <h3 class="pxr-5">Register a New Barcoded Staff 
                    <span class="pxl-5">
                        <a href="/instruments/inst_staff_create/?reset">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available Bar-Code staves</h2>
				{% if staff_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th class="text-center" width="7.5%">Sl No.</td>
							<th>Staff Number</th>
							<th>Staff Model</th>
							<th>Staff Type</th>
							<th>Staff Length</th>
							<th>Coefficient (in ppm)</th>
						</tr>			
						{% for staff in staff_page_obj %}
							<tr>
								<td class="text-center"> {{ forloop.counter }}</td>
								<td><a href="{{ staff.get_absolute_url }}" target="__blank">{{ staff.staff_number }}</a></td>
								<td>{{ staff.staff_model }} </td>
								<td>{{ staff.staff_type }} </td>
								<td>{{ staff.staff_length }} </td>
								<td>{{ staff.thermal_coefficient }} </td>
		
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<p> There are currently no barcoded staves in our system </p>
				{% endif %}

				{% if staff_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if staff_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ staff_page_obj.number }} of {{ staff_page_obj.paginator.num_pages }} 
							</span>
					
							{% if staff_page_obj.has_next %}
								<a href="?page={{ staff_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ staff_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
                <br>
                <!-- <p>Cannot find your staff model?
                    <span class="pxl-5"> 
                        <a href="{% url 'instruments:inst_model_createby_inst_type' 'staff' %}?reset">
                            <button class="px-2 py-1 border border-transparent text-base leading-4 rounded text-white bg-gray-500 hover:bg-gray-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Create
                            </button>
                        </a>
                    </span>
                </p> -->
			</div>

            <div id="met" class="tab-content">
                <h3 class="pxr-5">Register a New Meteorological Instrument Certificate: 
                    <span class="pxl-5">
                        <a href="{% url 'instruments:certificate_edit' inst_type="mets" id=None %}">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available Meterological Instruments</h2>
				{% if mets_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th width="40%">Instrument</th>
							<th width="20%">Calibration Date</th>
							<th width="20%">Zero Point Correction</th>
							<th width="20%">Action</th>
						</tr>			
						{% for cert in mets_page_obj %}
							<tr>
								<td>{{ cert.instrument }}</td>
								<td>{{ cert.calibration_date }}</td>
								<td>{{ cert.zero_point_correction }}</td>
								<td>
									<span class="flex justify-around items-center text-center">
										<a href="{% url 'instruments:certificate_edit' inst_type="mets" id=cert.pk %}" target="__blank" class="px-3">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-pencil-fill" id = "edit-view" viewBox="0 0 16 16">
												<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
											</svg>
										</a>  
										<a href="{% url 'instruments:certificate_delete' inst_type="mets" id=cert.pk %}" class="px-2" onclick="return confirmation()">
											<svg width="16" height="16" viewBox="0 0 16 16" fill="red" class="bi bi-trash">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
											</svg>
										</a>
									</span>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
                    <p> There are currently no instrument certificates listed.</p>
				{% endif %}

				{% if mets_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if mets_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ mets_page_obj.number }} of {{ mets_page_obj.paginator.num_pages }} 
							</span>
					
							{% if mets_page_obj.has_next %}
								<a href="?page={{ mets_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ mets_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
                <br>
                <!-- <p>Cannot find your staff model?
                    <span class="pxl-5"> 
                        <a href="{% url 'instruments:inst_model_createby_inst_type' 'staff' %}?reset">
                            <button class="px-2 py-1 border border-transparent text-base leading-4 rounded text-white bg-gray-500 hover:bg-gray-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Create
                            </button>
                        </a>
                    </span>
                </p> -->
			</div>
        </div>
    </div>
</article>

<script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

	function confirmation() {
		return confirm('Are you sure you want to delete this record? You will not be able to retreive the record later.');
	}
    </script>

 {% endblock content %}