{% extends 'base_generic.html' %}
{% load i18n %}
{% load static %}

{% block content %} 

<article class="post">
    <div class="post-content">
        <form action="" class="site-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                {% if form.instance.pk %}
                    <h2 class="text-center">Edit an Instrument</h2>
                {% else %}
                    <h2 class="text-center">Create an Instrument</h2>
                {% endif %}
            </div>
            <div class="mt-5 mb-3">
                <!-- {{ form.errors }} -->
                {% if form.errors or form.non_field_errors %}
                    {% for error in form.non_field_errors %} 
                        <p class="error error-danger">** {{ error }}</p>
                    {% endfor %}
                    <br>
                {% endif %}
            </div>
            <table>
                {% for field in form %}
                    <tr>
                        <td width="25%">
                            <strong>{{ field.label_tag }}</strong>
                        </td>
                        <td width="65%"> {{ field }} 
                            <!-- Errors -->
                            {% for error in field.errors %}
                                <p class="error error-danger">{{ error }}</p>
                            {% endfor %}
                            <!-- Help text -->
                            {% if not field.field.widget.attrs.placeholder and field.help_text %}
                                <p class="helptext">{{ field.help_text }}</p>
                            {% endif %}
                        </td>
                        <td width="10%">
                            {% if '_specs' in field.name %}
                                <a href="{% url 'instruments:register_edit' inst_disp=inst_type tab="models" id=None %}" target="_blank"  onclick="return showAddPopup(this);" id="add_spec" 
                                class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer">&#43;</a>
                            {% elif 'model' in field.name %}
                                <a href="{% url 'instruments:inst_model_createby_inst_type' 'level' %}" target="_blank"  onclick="return showAddPopup(this);" id="add_spec" 
                                class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer">&#43;</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}               
            </table>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
                <div class="button-container">
                    {% if request.GET.next %}
                        <a href= {{ request.GET.next }} class="submit-button bg-red-500 hover:bg-green-400" style="text-align: center">Cancel</a>
                    {% endif %}
                    <button class="submit-button bg-green-500 hover:bg-green-400 text-base" type="submit" >Save</button>
                </div>
        </form>
    </div>
</article>
<script>
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=850,height=500");
        win.resizeTo(850, win.screen.availHeight *3 / 4);
        win.focus();
        return false;
    }

    function closePopup(win, newID, newRepr) {
        window.sessionStorage.setItem('new_instance',  newID);
        win.close();
    }

    {% if  inst_type == 'level' %}
        const specOptions = document.querySelector("#id_{{inst_type}}_model")
    {% else %}
        const specOptions = document.querySelector("#id_{{inst_type}}_specs")
        
        var inst_comment = document.getElementById('id_comment');
        inst_comment.addEventListener('input', () => {
            inst_comment.value = inst_comment.value ? inst_comment.value.trim() : '' ;
            window.sessionStorage.setItem('inst_comment', inst_comment.value);
        })
    {% endif %}
    
    var SN_Number = document.getElementById("id_{{inst_type}}_number");
    SN_Number.addEventListener('input', () => {
        SN_Number.value = SN_Number.value ? SN_Number.value.trim() : '' ;
        window.sessionStorage.setItem('SN_Number', SN_Number.value);
    })

//    var edmCustodian = document.getElementById('id_{{inst_type}}_custodian');
//    edmCustodian.addEventListener('change', () => {
//        edmCustodian_value = edmCustodian.selectedIndex;
//        window.sessionStorage.setItem('edmCustodian_value', edmCustodian_value);
//    })

    let newInstanceValue = sessionStorage.getItem('new_instance');
    if (newInstanceValue) {
        for(var i = 0;i < specOptions.options.length;i++){
                if(specOptions.options[i].value == newInstanceValue ){
                    specOptions.options[i].selected = true;
                }
            }
        
        SN_Number.value = sessionStorage.getItem('SN_Number');
        inst_comment.value = sessionStorage.getItem('inst_comment');
        //edmCustodian.options[sessionStorage.getItem('edmCustodian_value')].selected = true;
        window.sessionStorage.clear()
    }
</script>

{% endblock %}