{% extends 'base_generic.html' %}
{% load static %}


{% block content %}

<article class="post">
    <div class="mt-10">
        {% if not user.is_authenticated %}
            <p class="text-lg">Please 
                <a href="{% url 'accounts:login' %}" class="hover:a">
                    login
                </a> or 
                <a href="{% url 'accounts:signup' %}" class="hover:a">
                    signup
                </a> to manage and calibrate your surveying instruments.</p>
        {% endif %}
        <h2>COMPANY INSTRUMENT CERTIFICATES</h2>
        <p>Click on the instrument types on the left menu to display your available certificates: </p>
    </div>
    {% if messages %}
        <ul class="alert messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}	
    <hr>
    <div class="flex-with-sidebar">
        <div class="left-sidebar">
            {% for inst in inst_types %}
                {% if inst.abbr == 'edm' %}
                    <button class="tablinks" onclick="openTab(event, '{{inst.abbr}}')" id="defaultOpen">{{ inst.name }}</button>
                {% else %}
                    <button class="tablinks" onclick="openTab(event, '{{inst.abbr}}')">{{ inst.name }}</button>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-content pxl-2">
            <div id="edm" class="tab-content">
                <h3 class="pxr-5">Register a New EDM Certificate
                    <span class="pxl-5">
                        <a href="{% url 'instruments:certificate_edit' inst_type="edmi" id=None %}">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available EDMs</h2>
				{% if edm_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th width="24%">EDM</th>
							<th width="23%">Prism</th>
							<th width="12%">Calibration Date</th>
							<th width="17%">Scale Correction Factor</th>
							<th width="11%">Zero Point Correction</th>
							<th width="13%"></th>
						</tr>			
						{% for edm in edm_page_obj %}
							<tr>
								<td>{{ edm.edm }}</td>
								<td>{{ edm.prism }}</td>
								<td>{{ edm.calibration_date }}</td>
								<td>{{ edm.scale_correction_factor }}</td>
								<td>{{ edm.zero_point_correction }}</td>
								<td>
    								<a href="{% url 'instruments:certificate_edit' inst_type="edmi" id=edm.pk %}" style="color:green;cursor:pointer;cursor:hand">Edit</a> |
    								<a href="{% url 'instruments:certificate_delete' inst_type="edmi" id=edm.pk %}" style="color:red;cursor:pointer;cursor:hand;">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
                    <p> There are currently no edm certificates listed.</p>
				{% endif %}

				{% if edm_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if edm_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ edm_page_obj.number }} of {{ edm_page_obj.paginator.num_pages }} 
							</span>
					
							{% if edm_page_obj.has_next %}
								<a href="?page={{ edm_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ edm_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
			</div>
            

            <div id="staff" class="tab-content">
                <h3 class="pxr-5">Register a New Barcoded Staff 
                    <span class="pxl-5">
                        <a href="/instruments/inst_staff_create/?reset">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available Bar-Code staves</h2>
				{% if staff_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th class="text-center" width="7.5%">Sl No.</td>
							<th>Staff Number</th>
							<th>Staff Model</th>
							<th>Staff Type</th>
							<th>Staff Length</th>
							<th>Coefficient (in ppm)</th>
						</tr>			
						{% for staff in staff_page_obj %}
							<tr>
								<td class="text-center"> {{ forloop.counter }}</td>
								<td><a href="{{ staff.get_absolute_url }}" target="__blank">{{ staff.staff_number }}</a></td>
								<td>{{ staff.staff_model }} </td>
								<td>{{ staff.staff_type }} </td>
								<td>{{ staff.staff_length }} </td>
								<td>{{ staff.thermal_coefficient }} </td>
		
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<p> There are currently no barcoded staves in our system </p>
				{% endif %}

				{% if staff_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if staff_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ staff_page_obj.number }} of {{ staff_page_obj.paginator.num_pages }} 
							</span>
					
							{% if staff_page_obj.has_next %}
								<a href="?page={{ staff_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ staff_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
                <br>
                <!-- <p>Cannot find your staff model?
                    <span class="pxl-5"> 
                        <a href="{% url 'instruments:inst_model_createby_inst_type' 'staff' %}?reset">
                            <button class="px-2 py-1 border border-transparent text-base leading-4 rounded text-white bg-gray-500 hover:bg-gray-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Create
                            </button>
                        </a>
                    </span>
                </p> -->
			</div>

            <div id="met" class="tab-content">
                <h3 class="pxr-5">Register a New Meteorological Instrument Certificate: 
                    <span class="pxl-5">
                        <a href="{% url 'instruments:certificate_edit' inst_type="mets" id=None %}">
                            <button class="px-3 py-1 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Register
                            </button>
                        </a>
                    </span>
                </h3>
                <hr>
				<h2 class="text-center">Available Meterological Instruments</h2>
				{% if mets_page_obj %}
					<table style="table-layout: fixed; width: 95%"> 
						<tr>
							<th width="40%">Instrument</th>
							<th width="20%">Calibration Date</th>
							<th width="20%">Zero Point Correction</th>
							<th width="20%"></th>
						</tr>			
						{% for cert in mets_page_obj %}
							<tr>
								<td>{{ cert.instrument }}</td>
								<td>{{ cert.calibration_date }}</td>
								<td>{{ cert.zero_point_correction }}</td>
								<td>
    								<a href="{% url 'instruments:certificate_edit' inst_type="mets" id=cert.pk %}" style="color:green;cursor:pointer;cursor:hand">Edit</a> |
    								<a href="{% url 'instruments:certificate_delete' inst_type="mets" id=cert.pk %}" style="color:red;cursor:pointer;cursor:hand;">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
                    <p> There are currently no instrument certificates listed.</p>
				{% endif %}

				{% if mets_page_obj.has_other_pages  %}
					<div class="pagination">
						<span class="step-links">
							{% if mets_page_obj.has_previous %}
								<!-- <a href="?page=1">« First</a> -->
								<a href="?page={{ page_obj.previous_page_number }}">&#60;Previous</a>
							{% endif %}
					
							<span class="current">
								Page {{ mets_page_obj.number }} of {{ mets_page_obj.paginator.num_pages }} 
							</span>
					
							{% if mets_page_obj.has_next %}
								<a href="?page={{ mets_page_obj.next_page_number }}">Next&#62;</a>
								<a href="?page={{ mets_page_obj.paginator.num_pages }}">Last&#62;&#62;</a>
							{% endif %}
						</span>
					</div>
				{% endif %}
                <br>
                <!-- <p>Cannot find your staff model?
                    <span class="pxl-5"> 
                        <a href="{% url 'instruments:inst_model_createby_inst_type' 'staff' %}?reset">
                            <button class="px-2 py-1 border border-transparent text-base leading-4 rounded text-white bg-gray-500 hover:bg-gray-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                                Create
                            </button>
                        </a>
                    </span>
                </p> -->
			</div>
        </div>
    </div>
</article>

<script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>

 {% endblock content %}