{% extends 'base_generic.html' %}
{% load i18n %}
{% load static %}


{% block content %} 

<article class="post">
    <div class="flexbox-container_IB">
        <form action="" class="site-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                {% if form.instance.pk %}
                    <h2 class="text-center">Edit Certificate Details</h2>
                {% else %}
                    <h2 class="text-center">Create Certificate Details</h2>
                {% endif %}
            </div>
            <div class="mt-5 mb-3">
                <!-- {{ form.errors }} -->
                {% if form.errors or form.non_field_errors %}
                    {% for error in form.non_field_errors %} 
                        <p class="error error-danger">** {{ error }}</p>
                    {% endfor %}
                    <br>
                {% endif %}
            </div>
            <div class="flexbox-item_1600_IB">
                <table>
                    <colgroup>
                        <col span="1" width="35%">
                        <col span="1" width="55%">
                        <col span="1" width="10%">
                    </colgroup>
                    {% for field in form %}
                        <tr>
                            {% if not 'units_' in field.name %}
                                {% if field.field.is_checkbox %}
                                    <td>{{ field }}</td>
                                    <td>{{ field.label|title }}</td>
                                    <td></td>
                                {% else %}
                                    <td>{{ field.label_tag|title }}</td>
                                    <td>{{ field }}</td>
                                    {% if 'zero_point_correction' == field.name %}
                                        <td>{{ form.units_zpc }}</td>
                                    {% elif 'zpc_uncertainty' == field.name %}
                                        <td>{{ form.units_zpc_uc }}</td>
                                    {% elif 'scale_correction_factor' == field.name %}
                                        <td>{{ form.units_scf }}</td>
                                    {% elif 'scf_uncertainty' == field.name %}
                                        <td>{{ form.units_scf_uc }}</td>
                                    {% elif 'standard_deviation' == field.name %}
                                        <td>{{ form.units_stdev }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% for error in field.errors %}
                            <tr>
                                <td></td>
                                <td>
                                    <p style="color:Red;">{{ error }}</p>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}                            
                    {% endfor %}
                </table>
            </div>
            <div class="flexbox-item_1600_IB flexbox-item-button_IB">
                <a href= "{{ request.GET.next }}" class="submit-button bg-red-500 hover:bg-green-400" style="text-align: center">Cancel</a>
                <button class="submit-button bg-green-500 hover:bg-green-400" type="submit">Save</button>
            </div>
        </form>
    </div>
</article>


<script>
    const units = [{typ:"temp", u:"°C"},
                   {typ:"temp", u:"°F"},
                   {typ:"pres", u:"hPa"},
                   {typ:"pres", u:"mBar"},
                   {typ:"pres", u:"mmHg"},
                   {typ:"humi", u:"%"}];

    const  unit_slt = document.getElementById("id_unit_zpc")
    const  uc_units_slt = document.getElementById("id_unit_zpc_uc")
    
{% if inst_type == 'thermo' or inst_type == 'psy' %}
    let uLen = units.length;
    for (let i = 0; i < uLen; i++) {
      if (units[i].typ.includes("temp")) {
          let newOption = new Option(units[i].u, units[i].u);
          unit_slt.add(newOption, undefined);
          let nextOption = new Option(units[i].u, units[i].u);
          uc_units_slt.add(nextOption, undefined);
          }
    }
{% elif inst_type == 'baro' %}
    let uLen = units.length;
    for (let i = 0; i < uLen; i++) {
      if (units[i].typ.includes("pres")) {
          let newOption = new Option(units[i].u, units[i].u);
          unit_slt.add(newOption, undefined);
          let nextOption = new Option(units[i].u, units[i].u);
          uc_units_slt.add(nextOption, undefined);
          }
    }
{% elif inst_type == 'hygro' %}
    let uLen = units.length;
    for (let i = 0; i < uLen; i++) {
      if (units[i].typ.includes("humi")) {
          let newOption = new Option(units[i].u, units[i].u);
          unit_slt.add(newOption, undefined);
          let nextOption = new Option(units[i].u, units[i].u);
          uc_units_slt.add(nextOption, undefined);
          }
    }
{% endif %}

</script>

               
{% endblock %}