{% extends 'base_popup.html' %}
{% load i18n %}
{% load }
{% load static %}

{% block content %} 

<article class="post">
    <!-- <div class="post-header mt-10 text-center mb-3">
        <h1>Welcome to Landgate's Survey Instrument Calibration website.</h1>
        <p>You can now easily calibrate your Digital Levelling Staves and Electronic Distance Measurements using this web application.</p>
        <p>
			<u> Step {{ wizard.steps.step1 }} of  {{ wizard.steps.count }} </u>
		</p>
    </div> -->

    <div class="post-content">
        
        <form action="" class="site-form" method="post">
            {% csrf_token %}
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                <h2 class="text-center">Create an EDM specification</h2>
            </div>
            {% if form.non_field_errors %}
                    <b>{{ form.non_field_errors }}</b>
                <br>
            {% endif %}
            <table>
                <tr>
                    <td width="35%">{{ form.edm_owner.label|title }}</td>
                    <td width="45%">{{ form.edm_owner }}</td>
                    <td width="15%"></td>
                </tr>
                <tr>
                    <td width="35%">{{ form.edm_model.label|title }}</td>
                    <td width="45%">{{ form.edm_model }}</td>
                    <td width="15%"><a href="/instruments/inst_model_createby_inst_type/{{ form.edm_model.name|cut:'_model'}}/" target="_blank" class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer" onclick="return showAddPopup(this);" id="add_level">&#43;</a></td>
                </tr>

                <!-- Manufacturers Accuracy Statement -->
                <tr>
                    <td width="35%">{{ form.manu_unc_const.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_const }}
                        {% for error in form.manu_unc_const.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        {% if not form.manu_unc_const.widget.attrs.placeholder and form.manu_unc_const.help_text %}
                            <p class="helptext">{{ form.manu_unc_const.help_text }}</p>
                        {% endif %}
                    </td>
                    <td width="15%">{{ form.unit_manu_unc_const }}</td>
                </tr>
                <tr>
                    <td width="35%">{{ form.manu_unc_ppm.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_ppm }}
                        {% for error in form.manu_unc_ppm.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        {% if not form.manu_unc_ppm.widget.attrs.placeholder and form.manu_unc_ppm.help_text %}
                            <p class="helptext">{{ form.manu_unc_ppm.help_text }}</p>
                        {% endif %}
                    </td>
                    <td width="15%">{{ form.unit_manu_unc_ppm }}</td>
                </tr>
                <tr>
                    <td width="35%">{{ form.manu_unc_k.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_k }}
                        {% for error in form.manu_unc_k.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        {% if not form.manu_unc_k.widget.attrs.placeholder and form.manu_unc_k.help_text %}
                            <p class="helptext">{{ form.manu_unc_k.help_text }}</p>
                        {% endif %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <!-- Unit Length -->
                <tr>
                    <td width="35%">{{ form.edm_type.label|title }}</td>
                    <td width="45%">{{ form.edm_type }}
                        {% for error in form.edm_type.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.unit_length.widget.attrs.placeholder and form.unit_length.help_text %}
                            <p class="helptext">{{ form.unit_length.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%"></td>
                </tr>
                <!-- Unit Length -->
                <tr>
                    <td width="35%">{{ form.unit_length.label|title }}</td>
                    <td width="45%">{{ form.unit_length }}
                        {% for error in form.unit_length.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.unit_length.widget.attrs.placeholder and form.unit_length.help_text %}
                            <p class="helptext">{{ form.unit_length.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%">{{ form.unit_unit_length }}</td>
                </tr>
                <!-- Frequency -->
                <tr>
                    <td width="35%">{{ form.frequency.label|title }}</td>
                    <td width="45%">{{ form.frequency }}
                        {% for error in form.frequency.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.frequency.widget.attrs.placeholder and form.frequency.help_text %}
                            <p class="helptext">{{ form.frequency.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%">{{ form.unit_freq }}</td>
                </tr>
                <!-- Wavelength -->
                <tr>
                    <td width="35%">{{ form.carrier_wavelength.label|title }}</td>
                    <td width="45%">{{ form.carrier_wavelength }}
                        {% for error in form.carrier_wavelength.errors %}
                        <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.carrier_wavelength.widget.attrs.placeholder and form.carrier_wavelength.help_text %}
                            <p class="helptext">{{ form.carrier_wavelength.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%">{{ form.unit_carrier_wave }}</td>
                </tr>
                <tr>
                    <td width="35%">{{ form.manu_ref_refrac_index.label|title }}</td>
                    <td width="45%">{{ form.manu_ref_refrac_index }}
                        {% for error in form.manu_ref_refrac_index.errors %}
                        <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.manu_ref_refrac_index.widget.attrs.placeholder and form.manu_ref_refrac_index.help_text %}
                            <p class="helptext">{{ form.manu_ref_refrac_index.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%"></td>
                </tr>
                <tr>
                    <td width="35%">{{ form.measurement_increments.label|title }}</td>
                    <td width="45%">{{ form.measurement_increments }}
                        {% for error in form.measurement_increments.errors %}
                        <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        <!-- {% if not form.measurement_increments.widget.attrs.placeholder and form.measurement_increments.help_text %}
                            <p class="helptext">{{ form.measurement_increments.help_text }}</p>
                        {% endif %} -->
                    </td>
                    <td width="15%">{{ form.unit_measurement_inc }}</td>
                </tr>

                <!-- {% for field in form %}
                <tr>
                    <td width="35%">{{ field.label_tag }}</td>
                    <td width="45%"> {{ field }} 

                        {% for error in field.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}

                        {% if not field.field.widget.attrs.placeholder and field.help_text %}
                            <p class="helptext">{{ field.help_text }}</p>
                        {% endif %}
                    </td>
                    <td width="15%">
                            {% if 'model' in field.name %}
                                <a href="/instruments/inst_model_createby_inst_type/{{ field.name|cut:'_model'}}/" target="_blank" class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer" onclick="return showAddPopup(this);" id="add_level">&#43;</a>
                            {% endif %}
                    </td>
                </tr>
                {% endfor %}                -->
            </table>

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="button-container">
                <button class="submit-button bg-green-500 hover:bg-green-400 text-base" type="submit" >Submit</button>
            </div>

        </form>
    </div>
</article>

<script>
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
    
        function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        // var win = window.open("{% url 'instruments:inst_model_createby_inst_type' 'level' %}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=500,height=400");
        var win = window.open(href, name, "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=500,height=400");
        win.focus();
        return false;
    }

    modelOptions = document.querySelector("#id_level_model")
    function closePopup(win, newID, newRepr) {
        // $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        // console.log(id, newID, newRepr)
        window.sessionStorage.setItem('new_model',  newID);
        win.close();
    }
    

    let newModelValue = sessionStorage.getItem('new_model');
    if (newModelValue) {
        for(var i = 0;i < modelOptions.options.length;i++){
                if(modelOptions.options[i].value == newModelValue ){
                    modelOptions.options[i].selected = true;
                }
            }
        
        window.sessionStorage.clear()
    }
    //  Refresh Parent Function
    function refreshParent() 
        {
            window.opener.location.reload(true);
        }
</script>

<body onunload="javascript:refreshParent()">

{% endblock %}