{% extends 'base_popup.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<article class="post">
    <div class="post-content">
        <form action="" class="site-form" method="post">
            {% csrf_token %}
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                <h2 class="text-center">
                    {% if form.instance.pk %}
                        Edit EDM Model Specifications
                    {% else %}
                        Create EDM Model Specifications
                    {% endif %}
                </h2>
            </div>
            {% if form.non_field_errors %}
                <div class="mt-5 mb-3">
                    <b>{{ form.non_field_errors }}</b><br>
                </div>
            {% endif %}
            <table>
                <!-- EDM Owner -->
                <tr title="{{ form.edm_owner.help_text }}">
                    <td width="35%">{{ form.edm_owner.label }}</td>
                    <td width="45%">{{ form.edm_owner }}</td>
                    <td width="15%"></td>
                </tr>
                <!-- EDM Model -->
                <tr title="{{ form.edm_model.help_text }}">
                    <td width="35%">{{ form.edm_model.label }}</td>
                    <td width="45%">{{ form.edm_model }}</td>
                    <td width="15%">
                        <a href="/instruments/inst_model_createby_inst_type/edm/" target="_blank" 
                        class="ml-3 px-2 py-1 bg-green-400 border-transparent hover:border-gray-900 rounded text-lg text-white cursor-pointer" 
                        onclick="return showAddPopup(this);" id="add_level">&#43;</a>
                    </td>
                </tr>
                <tr>
                    <td>EDM Specifications Lookup Table</td>
                    <td>
                      <a href="/instruments/edm_recommended_specifications/" target="_blank" onclick="return showAddPopup(this);">
                        <svg version="1.1" baseProfile="tiny" id="report-view" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="22" height="22" viewBox="0 0 42 42" xml:space="preserve">
                          <path fill-rule="evenodd" d="M22.5,1.5h-14c-2.55,0-3,0.561-3,3v32c0,2.49,0.55,3,3,3h24c2.5,0,3-0.47,3-3v-22h-13V1.5z M35.5,11.5l-10-10v10H35.5z"></path>
                        </svg>
                      </a>
                    </td>
                </tr>
                <!-- Manufacturers Accuracy Statement -->
                <tr title="{{ form.manu_unc_const.help_text }}">
                    <td width="35%">{{ form.manu_unc_const.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_const }}
                        {% for error in form.manu_unc_const.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_manu_unc_const }}</td>
                </tr>
                <tr title="{{ form.manu_unc_ppm.help_text }}">
                    <td width="35%">{{ form.manu_unc_ppm.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_ppm }}
                        {% for error in form.manu_unc_ppm.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_manu_unc_ppm }}</td>
                </tr>
                <tr title="{{ form.manu_unc_k.help_text }}">
                    <td width="35%">{{ form.manu_unc_k.label|title }}</td>
                    <td width="45%">{{ form.manu_unc_k }}
                        {% for error in form.manu_unc_k.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <!-- Unit Length -->
                <tr title="{{ form.edm_type.help_text }}">
                    <td width="35%">{{ form.edm_type.label }}</td>
                    <td width="45%">{{ form.edm_type }}
                        {% for error in form.edm_type.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <!-- Unit Length -->
                <tr title="{{ form.unit_length.help_text }}">
                    <td width="35%">{{ form.unit_length.label|title }}</td>
                    <td width="45%">{{ form.unit_length }}
                        {% for error in form.unit_length.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_unit_length }}</td>
                </tr>
                <!-- Frequency -->
                <tr title="{{ form.frequency.help_text }}">
                    <td width="35%">{{ form.frequency.label|title }}</td>
                    <td width="45%">{{ form.frequency }}
                        {% for error in form.frequency.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_frequency }}</td>
                </tr>
                <!-- Wavelength -->
                <tr title="{{ form.carrier_wavelength.help_text }}">
                    <td width="35%">{{ form.carrier_wavelength.label|title }}</td>
                    <td width="45%">{{ form.carrier_wavelength }}
                        {% for error in form.carrier_wavelength.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_carrier_wave }}</td>
                </tr>
                <tr title="{{ form.manu_ref_refrac_index.help_text }}">
                    <td width="35%">{{ form.manu_ref_refrac_index.label|title }}</td>
                    <td width="45%">{{ form.manu_ref_refrac_index }}
                        {% for error in form.manu_ref_refrac_index.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <tr title="{{ form.c_term.help_text }}">
                    <td width="35%">{{ form.c_term.label|title }}</td>
                    <td width="45%">{{ form.c_term }}
                        {% for error in form.c_term.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <tr title="{{ form.d_term.help_text }}">
                    <td width="35%">{{ form.d_term.label|title }}</td>
                    <td width="45%">{{ form.d_term }}
                        {% for error in form.d_term.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%"></td>
                </tr>
                <tr title="{{ form.measurement_increments.help_text }}">
                    <td width="35%">{{ form.measurement_increments.label|title }}</td>
                    <td width="45%">{{ form.measurement_increments }}
                        {% for error in form.measurement_increments.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ form.units_measurement_inc }}</td>
                </tr>
            </table>

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="button-container">
                <button class="submit-button bg-green-500 hover:bg-green-400 text-base" type="submit">Save</button>
            </div>
        </form>
    </div>
</article>

<script>
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
    
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=850,width=600,height=420");
        win.focus();
        return false;
    }

    modelOptions = document.querySelector("#id_edm_model")
    function closePopup(win, newID, newRepr) {
        window.sessionStorage.setItem('new_model',  newID);
        win.close();
    }
    

    let newModelValue = sessionStorage.getItem('new_model');
    if (newModelValue) {
        for(var i = 0;i 
    < modelOptions.options.length;i++){
                if(modelOptions.options[i].value == newModelValue ){
                    modelOptions.options[i].selected = true;
                }
            }
        
        window.sessionStorage.removeItem('new_model');
    }
    //  Refresh Parent Function
    function refreshParent() 
        {
            window.opener.location.reload(true);
        }
</script>
<body onunload="javascript:refreshParent()">

{% endblock %}