{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<article class="post">
  	<header class="post-header">
    	<h2 class="post-title text-center"> End-user terms and conditions </h2>
    	<p class="text-center">Copyright &copy 2020-2021 Landgate</p>
  	</header>
	<hr>
	<br>

	<div class="post-content">
		<div class="post-content introduction">
			<ol>
				<li>
					<h2 class="mt0">Terms of Access</h2>
					<p>
						This web application is made available for you to access conditional on your acceptance without alteration of the Terms of Access set out below. By continuing to access this Website and use the Services, you are agreeing to these Terms of Access. 
					</p>
				</li>
				<li>
					<h2 class="mt0">Limitation of liability</h2>
					<p>
						The Western Australian Land Information Authority, trading as Landgate (Landgate) provides the Services in good faith. However, Landgate does not guarantee, represent or warrant that the Website or Service is free from defects, viruses, or is accurate, reliable or complete. The Service is provided as is and you use the Services at your own risk. 
					</p>
					<p>
						To the fullest extent permitted by law, Landgate is released and will not be liable to you or anyone else for any loss, damage, expense or costs however caused (including through negligence) and whether direct or indirect, arising out of the use or reliance on the Service.
					</p>
				</li>
				<li>
					<h2 class="mt0">Use of personal information </h2>
					<p>
						Any personal information Landgate may gather and process which you provide when accessing the Website or the Services, will be used for the purpose for which it was collected, for example to allow us to process your calibration and to allow us to monitor use of the Services , examine any trends and improve the calibration procedure. 
					</p>
					<p>
						In some limited circumstances we may also need to use or disclose personal information for other specific purposes, including where required by or under a law of Western Australia, a law of the Commonwealth or a court or tribunal order, for example pursuant to the <a href="https://www.legislation.wa.gov.au/legislation/statutes.nsf/law_a290.html">Freedom of Information Act 1992</a> or in response to a subpoena.
					</p>
					<p>
						Personal information will be dealt with in accordance with the applicable legislation in Western Australia and consistent with any legal obligation.
					</p>
				</li>
				<li>
					<h2 class="mt0">Redistribution and use of source codes </h2>
					<p>
						The redistribution, reproduction, and use of the source codes of this web application are released by <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License </a> and therefore, redistribution, reproduction, and use of source codes are permitted provided the conditions are met. The application source code is found <a href="https://github.com/Landgate/Staff-Calibration">here</a>.  
					</p>
				</li>
			</ol>
		</div>
	</div>
</article>



 {% endblock content %}