{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<article class="post">
	<div class="post-content">
      {% if messages %}
      <ul class="message-list">
          {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      <br>
      {% endif %}
    </div>

	<header class="post-header">
	    <h1 class="post-title">List of users</h1>
	</header>

	<div class="post-content">

		{% if user_list %}
			<table class="table-fullwidth">
				<tr>
					<th>Email address</th>
					<th>Name</th>
	    			<th>Authority</th>
	    			<th>Date joined</th>
				</tr>
				{% for user in user_list %}
					<tr> 
						<td>{{ user.email }}</td>
						<td>{{ user.last_name }}, {{ user.first_name}}</td>
						<td>{{ user.authority.authority_name }} </td>
						<td>{{ user.date_joined }}
							<a class="svg-icon trashcan" href="{% url 'accounts:user_delete' user.email %}">
					          <svg width="16" height="16" viewBox="0 0 16 16" fill="red" class="bi bi-trash" onclick="return confirmation()">
					 			 <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					 			 <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
							</svg> </a>
							<a class="svg-icon edit" href="{% url 'accounts:user_update' user.email %}" >
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-pencil-fill" viewBox="0 0 16 16">
									<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
								</svg>
							</a>
						</td>
					</tr>
					
				{% endfor %}
			</table>
		{% else %}
			<p> There are currently no users in our system </p>
		{% endif %}
	</div>
</article>

<script type="text/javascript">
	function confirmation() {
      return confirm('Are you sure you want to do this? You will not be able to retreive the record later.');
    }
</script>

{% endblock content %}