{% extends 'base_generic.html' %}
{% load static %}


{% block content %} 

<article class="post">
   
    <div class="flexbox-container_IB">
    		<div class="flexbox-item_800_IB">   
		       <form id='id_html_form' style="font-size:10.0pt;width:4500px;" action="" class="site-form" method="post" autocomplete="off">
		       		<div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
        					<h1 style="text-align:center">{{ Header }}</h1>
    					</div>		
		       {% if form.non_field_errors %}
		            <div class="mt-1 mb-2 non-field-errors">
		              {% for error in form.non_field_errors %}
		                <p style="color:Red;">{{ error }}</p>
		              {% endfor %}
		            </div>
		        {% endif %}    
		            {% csrf_token %}
		            <div class="flexbox-item_800_IB">
		                <table style="font-size:10pt;width:100%">
		                    <colgroup>
		                        <col span="1" width="40%">
		                        <col span="1" width="60%">
		                    </colgroup>
		                    {% for field in form %}
		                        <tr>
		                            {% if field.field.is_checkbox %}                        
		                                <td>{{ field }}</td>                                        
		                                <td>{{ field.label|title }}</td>
		                            {% else %}
		                                <td>{{ field.label_tag|title }}</td>
		                                <td>{{ field }}</td>
		                            {% endif %}
		                        </tr>
		                        {% for error in field.errors %}
		                        <tr>
		                            <td></td>
		                            <td>
		                                <p style="color:Red;">{{ error }}</p>
		                            </td>
		                        </tr>
		                        {% endfor %}                            
		                    {% endfor %}
		                </table>
		            </div>	           
		            <div class="flexbox-item_1600_IB flexbox-item-button_IB">
		                <a href= "{%url return %}" class="submit-button bg-red-500 hover:bg-green-400" style="text-align: center">Cancel</a>
		                <button class="submit-button bg-green-500 hover:bg-green-400" type="submit">Save</button>
		            </div>                 
		       </form>
      	</div>    
    </div>
</article>

<script>

</script>

{% endblock %}