{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<article class="post">
		<div class="flexbox-container_IB">
				<div class="flexbox-item_800_IB">
				    <div class="mt-10">
				    {% if not user.is_authenticated %}
				    <p class="text-lg">Please 
				    		<a href="{% url 'accounts:login' %}" class="hover:a">
				        login
				        </a> or 
				        <a href="{% url 'accounts:signup' %}" class="hover:a">
				        signup
				        </a> to manage and calibrate your surveying instruments.
				    </p>
				    {% endif %}
				    <h2 class="text-center">List of Accreditations</h2>
				    <div style="text-align:center;font-size:10pt">
				    		<a href="{% url 'baseline_calibration:accreditation_edit' id=None %}?next={{request.path}%}">
                <button class="px-3 py-2 border border-transparent text-lg leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                &#x2B Add new accreditation</button>
            </a> 
            </div>
				    <br><i style="ifont-size:10pt">Accreditation certification for selection during Baseline Calibration procedure</i></br>
				    <hr>
				    {% if messages %}
				    <ul class="alert messages">
				    		{% for message in messages %}
				        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				        {% endfor %}
				    </ul>
				    {% endif %}	
				    <div class="flexbox-item_800_IB">
				        <div class="post-content">
				            <div id="uncertainty-budget-list">
										{% if accreditation_list %}
												<table style="font-size:10pt;width:100%"> 
							              <col span="1" width="20%">
							              <col span="1" width="20%">
							              <col span="1" width="20%">
							              <col span="1" width="20%">
							              <col span="1" width="10%">
														<tr>
																<th>Accredited Company</th>
																<th>Accreditation Date</th>
																<th>Accreditation Expiration</th>
																<th>LUM*</th>
																<th></th>
														</tr>			
														{% for accreditation in accreditation_list %}
														<tr>
																<td>{{ accreditation.accredited_company }}</td>
																<td>{{ accreditation.valid_from_date }}</td>
																<td>{{ accreditation.valid_to_date }}</td>
																<td>{{ accreditation.LUM_constant }} ± {{ accreditation.LUM_ppm }}ppm</td>
    									    					<td>
    									    							<a href="{% url 'baseline_calibration:accreditation_edit' id=accreditation.pk %}" style="color:green;cursor:pointer;cursor:hand">Edit</a> |
    									    							<a href="{% url 'baseline_calibration:accreditation_delete' id=accreditation.pk %}" style="color:red;cursor:pointer;cursor:hand;">Delete</a>
    									    					</td>
														</tr>
														{% endfor %}
											  </table>									
										{% else %}
				            <p>There are currently no accreditations!</p>
										{% endif %}
										</div>
				        
                        <div class="flexbox-container_IB">
                            <div class="flexbox-item_800_IB flexbox-item-right_IB"><i>* LUM - Least Uncertainty of Measurement</i></div>
                        </div> 
				        </div>
				    </div>
			  </div>    
	  </div>
</article>
<script>
</script>
{% endblock content %}