{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medjil the Survey Instrumentation Calibration Portal</title>
    <link rel="icon" type="ico" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css"> -->
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'style_ib.css' %}">
    
</head>
<body>
    <div class="page-wrap">

    <header class="page-header">
        <div class="wrapper">
            <div class="header-wrapper">
                <a class="header-logo" href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" alt="Medjil">
                    <p>
                        <span>Medjil</span>
                        <span>Survey Instrument Calibration Portal</span>
                    </p>
                </a>
                
                <div class="header-userinfo">
                    {% if user.is_authenticated %}
                        <a class="login-user hover:text-blue-500" href="{% url 'accounts:user_account' %}"> 
                            <i class="fas fa-user"></i>
                            {% if not user.first_name %}
                               <span> {{ user.email|capfirst }}</span>
                            {% else %}
                            <span>{{ user.first_name }}</span>
                            {% endif %}
                        </a>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="logout_link" type="submit">Logout</button>
                        </form>
                    {% else %} 
                        <a class="login-button secondary" href="{% url 'accounts:signup' %}">Sign up</a>
                        <a class="login-button primary" href="{% url 'accounts:login' %}"><i class="fas fa-user"></i> <span>Log in</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <nav class="page-nav">
        <ul class="nav-header">
            <li class="nav-header-item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="nav-header-item toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
        <div class="wrapper">
            <ul class="nav-links">
                <li class="nav-item has-subnav"><a tabindex="0">Company Dashboard</a>
                     <ul class="sub-links">
                        <li class="sub-items">
                            <a href="{% url 'accounts:user_account' %}">
                                <div class="sub-item-header">My Account</div>
                                <div class="sub-item-description">View my account</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'instruments:home' %}">
                                <div class="sub-item-header">Instrument Register</div>
                                <div class="sub-item-description">See all company instruments here</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'instruments:certificates_home' %}">
                                <div class="sub-item-header">Instrument Certificates Register</div>
                                <div class="sub-item-description">See all company instrument certificates here</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'baseline_calibration:accreditations' %}">
                                <div class="sub-item-header">Accreditation Certifications</div>
                                <div class="sub-item-description">See all company accreditation certificates.</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'baseline_calibration:uc_budgets' %}">
                                <div class="sub-item-header">Error Budget Uncertainties</div>
                                <div class="sub-item-description">See all company uncertainty estimates.</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'calibrationsites:home' %}">
                                <div class="sub-item-header">Calibration Sites</div>
                                <div class="sub-item-description">View or register EDM baselines/Staff Ranges</div>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item has-subnav"><a tabindex="0">Staff Calibration</a>
                    <ul class="sub-links">
                        <li class="sub-items">
                            <a href="{% url 'staffcalibration:calibrate' %}">
                                <div class="sub-item-header">Calibrate a Levelling Staff</div>
                                <div class="sub-item-description">Calibrate my staves here</div>
                            </a>
                        </li>
                        {% if user.is_staff %}
                        <li class="sub-items">
                            <a href="{% url 'rangecalibration:home' %}">
                                <div class="sub-item-header">Calibrate a Staff Range</div>
                                <div class="sub-item-description">Calibrate the Barcode Staff Range here</div>
                            </a>
                        </li>
                        {% endif %}
                        <li class="sub-items">
                            <a href="{% url 'rangecalibration:range_param' %}">
                                <div class="sub-item-header">View Staff Calibration Range</div>
                                <div class="sub-item-description">See the staff calibration range parameters</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'staffcalibration:staff_registry' %}">
                                <div class="sub-item-header">Staff Registry</div>
                                <div class="sub-item-description">See all company staff calibration records</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item has-subnav"><a tabindex="0">Baseline Calibration </a>
                    <ul class="sub-links">
                        <li class="sub-items">
                            <a href="{% url 'baseline_calibration:calibration_home' %}">
                                <div class="sub-item-header">Calibrate the Baseline</div>
                                <div class="sub-item-description">Choose the Baseline and calibrate the certified distances</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="#">
                                <div class="sub-item-header">Registry of Calibrating the Baselines</div>
                                <div class="sub-item-description">Edit or query the history of calibrating the baseline</div>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item has-subnav"><a tabindex="0">EDM Calibration </a>
                    <ul class="sub-links">
                        <li class="sub-items">
                            <a href="{% url 'edm_calibration:edm_calibration_home' %}">
                                <div class="sub-item-header">Calibrate an EDMI</div>
                                <div class="sub-item-description">Calibrate my EDM instrumentation here</div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="#">
                                <div class="sub-item-header">EDM Registry</div>
                                <div class="sub-item-description">Edit or query the history of calibrating EDM instrumentation</div>
                            </a>
                        </li>
                        {% if user.is_staff %}
                        <li class="sub-items">
                            <a href="{% url 'baseline_calibration:calibration_home' %}">
                                <div class="sub-item-header">Calibrate a EDM Baseline</div>
                                <div class="sub-item-description">Choose the Baseline and calibrate the certified distances</div>
                            </a>  
                        </li>    
                        {% endif %}
                        <li class="sub-items">
                            <a href="#">
                                <div class="sub-item-header">EDM Baselines</div>
                                <div class="sub-item-description">Edit or query the history of calibrating the baseline</div>
                            </a>
                        </li>   
                    </ul>
                </li>
                <!-- <li class="nav-item"><a href="{% url 'calibrationguide:home' %}">Calibration Guide</a></li> -->
                <li class="nav-item has-subnav"><a tabindex="0">Calibration Guide</a>
                    <ul class="sub-links">
                        <li class="sub-items">
                            <a href="{% url 'calibrationguide:home' %}">
                                <div class="sub-item-header">Calibration Guide</div>
                                <div class="sub-item-description">Your guide to calibrating your instruments </div>
                            </a>
                        </li>
                        <li class="sub-items">
                            <a href="{% url 'calibrationguide:guide_downloads' %}">
                                <div class="sub-item-header">Booking Sheets &amp; Downloads</div>
                                <div class="sub-item-description">How to calibrate an EDMI instrument</div>
                            </a>
                        </li>               
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <main class="page-content">
        {% block slideshow %}
            <!-- <div class="slideshow-container">
                <div class="homeSlides fade">
                    <img src="{% static 'banners/Home Background2.png' %}" alt="Changes to WA's Transfer of Land Act" class="cropped1">
                    <div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <span role="status" style="visibility: hidden">Slide: 1</span>
                        <h2 class="px-2 bg-gray-200 rounded text-center text-2xl">Welcome to Landgate's Survey Instrument Calibration site.</h2>
                        <p class="mt-3 mb-4 px-2 bg-gray-500 rounded text-gray-200">You can now easily process and generate calibration certificates for your Levelling Staves and EDMs online.</p>
                    </div>
                </div>
                <div class="homeSlides fade">
                    <img src="{% static 'banners/Home Background3.png' %}" alt="Changes to WA's Transfer of Land Act" class="cropped1">
                    <div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <span role="status" style="visibility: hidden">Slide: 1</span>
                        <h2 class="px-2 bg-gray-200 rounded text-center text-2xl">Welcome to Landgate's Survey Instrument Calibration site.</h2>
                        <p class="mt-3 mb-4 px-2 bg-gray-500 rounded text-gray-200">You can now easily process and generate calibration certificates for your Levelling Staves and EDMs online.</p>
                    </div>
                </div>

                <div class="homeSlides fade">
                    <img src="{% static 'banners/Home Background4.png' %}" alt="Changes to WA's Transfer of Land Act" class="cropped1">
                    <div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <span role="status" style="visibility: hidden">Slide: 1</span>
                        <h2 class="px-2 bg-gray-200 rounded text-center text-2xl">Welcome to Landgate's Survey Instrument Calibration site.</h2>
                        <p class="mt-3 mb-4 px-2 bg-gray-500 rounded text-gray-200">You can now easily process and generate calibration certificates for your Levelling Staves and EDMs online.</p>
                    </div>
                </div>
                <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
            </div> -->
        {% endblock slideshow %}
        
        <div class="wrapper">
           
            {% block content %}

            {% endblock content %}

        </div>
    </main>
    <hr>
    <footer class="page-footer">
        <div class="footer-row; text-center">
            <div class="wrapper">
                <div class="footer-row1">
                    <div class="subscription">
                        <div class="social-media;text-center">
                            <a href="https://confirmsubscription.com/h/i/EFA065D8DEDDF0DF"><span>Subscribe to our geodetic newletter</span> <i class="fas fa-globe"></i></a>
                            <a href="https://twitter.com/landgate"><span>Follow Landgate on twitter</span> <i class="fab fa-twitter-square"></i></a>
                            <a href="https://au.linkedin.com/company/landgate-wa"><span>Follow Landgate on Linkedin</span> <i class="fab fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UC7Cur-7a1eaIS-YqDkLJGWg"><span>Follow us on Youtube</span> <i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        </div>
        <div class="wrapper">
            <div class="footer-row3">
                <div class="policy-col-1">
                    <a href="{% url 'terms' %}">Privacy Policy</a>
                    <a href="{% url 'terms' %}">Terms of Use</a>
                    <a href="mailto:geodesy@landgate.wa.gov.au"><i class="fas fa-envelope"></i> <span>Contact us</span></a>
                </div>
                <div class="policy-col-2">
                      <p>&#169; Western Australian Land Information Authority 2007</p>  
                      <span id="current_time"></span>
                </div>
            </div>          
        </div>
    </footer>
    
    <!-- <div class="current_time"></div> -->

    <script src="{% static 'script.js' %}"></script>
    
    <script type="text/javascript">
        var today = new Date();
        document.getElementById('current_time').innerHTML=today.toLocaleString('en-AU');
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>

