{% extends 'base_generic.html' %}
{% load static %}
{% load i18n %}

{% block content %} 

<article class="post">

    <div class="post-content">
        <div class="grid-2 mt-10"> 
            <div class="pxl-5 text-left text-base">
                <p>Site Name: <strong>{{ sitename }} ({{ sitestate }})</strong></p>
                {% if sitetype == 'staff_range' %}
                    <p> Site Type: <u> <span id="site-type">Staff Calibration Range</span></u> </p>
                {% elif sitetype == 'baseline' %}
                    <p> Site Type: <u> <span id="site-type">EDM Calibration Range </span></u> </p>
                {% endif %}
                
            </div>
            <div class="text-left text-base">
                {% if sitetype == 'staff_range' %}
                    Number of Pins: <strong id="number_of_pins">{{ no_pillars|floatformat:0 }}</strong>
                {% elif sitetype == 'baseline' %}
                    Number of Pillars: <strong id="number_of_pins">{{ no_pillars|floatformat:0 }}</strong>
                {% endif %}
            </div>
        </div>
        <br>
        {% if messages %}
            <ul class="message-list text-center py-3 text-lg">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>     
        {% endif %}

        <form  class="site-form" action="." method="post" enctype="multipart/form-data">
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                <h2 class="text-center">Create the Pillars or Pins</h2>
            </div>
            <div class="mb-3 px-2 site-form-header">
                <p class="text-center text-lg"><u>Step {{ wizard.steps.step1 }} of  {{ wizard.steps.count }}</u></p>
            </div>
            {% csrf_token %}
            <!-- <table> -->
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {% if forloop.counter == 1 %}
                            <tr>
                                <th width="7%">SL No.</th>
                                <th width="20%">{{ form.name.label }} </th> 
                                {% if sitetype == 'baseline' %}
                                    <th width="25%">{{ form.easting.label }} </th> 
                                    <th width="25%">{{ form.northing.label }} </th> 
                                    <th width="20%">{{ form.zone.label }} </th> 
                                {% endif %}
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ forloop.counter }}. </td>
                            <td>{{ form.name }}</td>
                            {% if sitetype == 'baseline' %}
                                <td>{{ form.easting }}</td>
                                <td>{{ form.northing }}</td>
                                <td>{{ form.zone }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>{{ wizard.form }}</tr>
                {% endif %}
            </table>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            
            <div class="wizard-button-container">
				{% if wizard.steps.prev %}
					<button class="next-button bg-indigo-400 hover:bg-indigo-300 text-base" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate> {% trans "<span>&#171;</span> Previous" %}</button>
                    <!-- <button class="next-button bg-green-500 hover:bg-green-300" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "First" %}</button> -->
                {% endif %}

				{% if wizard.steps.next %}
					<button class="next-button bg-green-500 hover:bg-green-400 text-base" type="submit">Next</button>
					<a href="{% url 'calibrationsites:home' %}" class="cancelbtn bg-red-500 hover:bg-red-300 text-center">Cancel</a>
				{% else %}
					<button class="next-button bg-green-500 hover:bg-green-400 text-base" type="submit">Save</button>
					<a href="{% url 'calibrationsites:home' %}" class="cancelbtn bg-red-500 hover:bg-red-300 text-center">Cancel</a>
				{% endif %}
			</div>
        </form> 
    </div>
</article>
  
<script>
    const siteID = "{{ site_id.id }}"
    
    let siteInput = document.querySelectorAll("[id$='-site_id']")
    siteInput.forEach(site => {
        site.options.selectedIndex = siteID;
    })
    
    // Number of pins
    const siteType = document.getElementById("site-type") 
    
    if (siteType.textContent.includes('Staff')) {
        var eastingInput = document.querySelectorAll("[id$=easting]");
        var northingInput = document.querySelectorAll("[id$=northing]");
        var zoneInput = document.querySelectorAll("[id$=zone]");

        eastingInput.forEach(val => {
            val.style.display = "none";
        })

        northingInput.forEach(val => {
            val.style.display = "none";
        })

        zoneInput.forEach(val => {
            val.style.display = "none";
        })

        var eastingLabel = document.querySelectorAll('label[for$="easting"]')
        var northingLabel = document.querySelectorAll('label[for$="northing"]')
        var zoneLabel = document.querySelectorAll('label[for$="zone"]')
        eastingLabel.forEach(val => {
            val.style.display = "none";
        })
        northingLabel.forEach(val => {
            val.style.display = "none";
        })
        zoneLabel.forEach(val => {
            val.style.display = "none";
        })
    }
</script>

{% endblock %}