{% extends 'base_generic.html' %}
{% load static %}


{% block content %} 

<article>
		<br>
    <h2 class="text-center">Calibration Site Details</h2>
    <div class="post-content">
        <div>         	           
            <div class="flexbox-container_IB">
                <div class="flexbox-item_400_IB flexbox-item-left_IB">
                	  <br><strong>Calibration Site: </strong>{{ site.site_name }}
                    <br><strong>Address: </strong>{{ site.site_address }}, {{ site.locality }}, {{ site.country }}
                    <br><strong>Operated by: </strong> {{ site.operator }} 
                    <br><strong>Number of Pillars/Pins: </strong> {{ site.no_of_pillars|floatformat:0 }}
                    {% if site.description %}
                    	<br><strong>Site Description: </strong> {{ site.description|safe }}                  
            				{% endif %}
                </div>
                <div class="flexbox-item_400_IB flexbox-item-right_IB">
                    <br><strong>Site Access Plan: </strong> <a href="{{ site.site_access.url }}" target="__blank">Download &#10515</a>
                    <br><strong>Site Configuration Plan: </strong> <a href="{{ site.site_config.url }}" target="__blank">Download &#10515</a>
                    <br><strong>Plan Last Modified: </strong>{{ site.modified_on|date:"M d, Y" }}
                    <br><strong>Current Status: </strong>Open <!-- to be modified as variable: Open, Close, Maintenance -->                    	
                </div>
            </div>
            <br>
            <div class="flexbox-container_IB">
                <div class="flexbox-item_800_IB  flexbox-item-left_IB">
                    <hr>
                </div>
            </div>
        </div>
        <!-- Pins/Pillars -->
        <br>
        <div>
            {% if site.no_of_pillars %}
                <table style="margin-left:auto;margin-right:auto;font-size:10.0pt;width:800px;">
                    {% if site.site_type == 'staff_range' %}
                        <tr>
                            <th>Pin Number</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for pillar in pillars %}
                            <tr>
                                <td class="pxl-3">{{ pillar.name }}</td>                               
                                <td>{{ site.status }}</td>
                                <td>
                                    <a class="svg-icon edit" href="/calibrationsites/each_pillar_update/{{site.id}}/{{pillar.name}}" target="_blank" onclick="return showAddPopup(this);" id="update_pillar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-pencil-fill" id = "edit-view" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                            </tr>
                        {% endfor %}
                    {% elif site.site_type == 'baseline' %}
                        <tr>
                            <th>Pillar Number</th>
                            <th>Easting (MGA2020)</th>
                            <th>Northing (MGA2020)</th>
                            <th>Zone</th>                           
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for pillar in pillars %}
                            <tr>
                                <td class="pxl-3">{{ pillar.name }}</td> 
                                <td>{{ pillar.easting }}</td>
                                <td>{{ pillar.northing }}</td>
                                <td>{{ pillar.zone }}</td>                                
                                <td>{{ site.status }}</td>
                                <td>
                                    <a class="svg-icon edit" href="/calibrationsites/each_pillar_update/{{site.id}}/{{pillar.name}}" target="_blank" onclick="return showAddPopup(this);" id="update_pillar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-pencil-fill" id = "edit-view" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                                    <!-- <a href="/calibrationsites/each_pillar_update/{{site.id}}/{{pillar.name}}" target="_blank" class="ml-3 border-transparent hover:border-gray-900 rounded text-lg text-red cursor-pointer" onclick="return showAddPopup(this);" id="update_pillar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" color="red">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                          </svg>
                                    </a> -->
                                </td>
                            </tr>
                        {% endfor %}   
                    {% endif %}
                </table>
            {% else %}
                <p>There are no pillars recorded for this Site. Click <a href="{% url 'calibrationsites:pillar-create' site.id %}">here</a> to register the pillars</p>
            {% endif %}
        </div> 
    </div>
</article>

<script>
    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^update_/, '');
        href = triggeringLink.href;
        console.log(href)
        // var win = window.open("{% url 'instruments:inst_model_createby_inst_type' 'level' %}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=500,height=400");
        var win = window.open(href, name, "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=850,width=500,height=400");
        win.focus();
        return false;
    }

    function closePopup(win, newID, newRepr) {
        // $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        // console.log(id, newID, newRepr)
        // window.sessionStorage.setItem('new_model',  newID);
        win.close();
    }
    
</script>
{% endblock %}