{% extends 'base_generic.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<article class="post">
    <div class="post-header mt-12 text-center mb-3">
      <h2>Welcome to Landgate's Survey Instrument Calibration website.</h2>
    </div>

    <div class="post-content">
        <form  class="site-form" action="" method="post" enctype="multipart/form-data">
            <div class="mb-5 site-form-header bg-indigo-300 rounded px-2">
                <h2 class="text-center">Update this Calibration Guide</h2>
            </div>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class="error error-danger">*** {{ error }} ***</p>
            {% endfor %}
            <table>
                {% for field in inst_form %}
                <tr>
                    <!-- <td width="25%"><strong> -->
                    {% if 'content' in field.name %}
                        <td width="25%" style="vertical-align:top">{{ field.label_tag }}</td>
                    {% else %}
                        <td width="25%">{{ field.label_tag }}</td>
                    {% endif %}
                        <!-- </strong></td> -->
                    <td width="70%" style="vertical-align:top"> 
                        {{ field }} 
                        <!-- Errors -->
                        {% for error in field.errors %}
                            <p class="error error-danger">{{ error }}</p>
                        {% endfor %}
                        <!-- Help text -->
                        {% if not field.field.widget.attrs.placeholder and field.help_text %}
                            <p class="helptext">{{ field.help_text }}</p>
                        {% endif %}
                    </td>
                    <td width="5%"></td>
                </tr>
                {% endfor %}               
            </table>
            <br />
            <br />
            {{ formset.management_form }}
            
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <table id="image-form">
                    <tr class="image-row">
                        <td width="25%"><strong>{{ form.photos.label }}: </strong></td>
                        <td width="70%">{{ form.photos }}</td>
                        <!-- <td><button class="px-2 py-1 bg-red-500 border-transparent rounded text-white" onclick="DeleteRowFunction()">Delete</button></td> -->
                        <td></td>
                    </tr>
                </table>
            {% endfor %}
            <!-- <button id="add-image-form" class="mt-2 mb-4 px-2 py-1 bg-indigo-400 border-transparent rounded text-white">Add Another Image</button> -->
            <br />
            <div class="button-container">
                <button class="next-button bg-green-500 hover:bg-green-400 text-base" type="submit">Update <span>&#187;</span></button>
				<a href="{% url 'home' %}" class="cancelbtn bg-red-500 hover:bg-red-300 text-center">Cancel</a>
            </div>
        </form>
    </div>
</article>

<script>
    // const addImageFormBtn = document.querySelector("#add-image-form");
    // const submitFormBtn = document.querySelector('[type="submit"]');

    // const imageTable = document.querySelector("#image-form tbody")
    // const imageRow = document.getElementsByClassName("image-row");

    // const totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    // let formCount = imageRow.length - 1;

    // addImageFormBtn.addEventListener('click', e => {
    //     e.preventDefault();
    //     // Clone a New Image Row - formset
    //     var newImageRow = imageRow[0].cloneNode(true);  
    //     const formRegex = RegExp(`form-(\\d){1}-`, 'g');
    //     formCount++;  
    //     // Insert the new row 
    //     newImageRow.innerHTML = newImageRow.innerHTML.replace(formRegex, `form-${formCount}-`);
    //     imageTable.appendChild(newImageRow);  
        
    //     totalForms.setAttribute('value', `${formCount + 1}`);
    // })
    
    // // Delete formset 
    // function DeleteRowFunction() {
    //     // event.target will be the input element.
    //     var td = event.target.parentNode; 
    //     var tr = td.parentNode; // the row to be removed
    //     if (formCount>0) {
    //         tr.parentNode.removeChild(tr);
    //         formCount--;
    //         totalForms.setAttribute('value', `${formCount + 1}`);
    //     } else {
    //         alert('You can no longer delete this image row!')
    //     }
    // }

    // Content
    const ele = document.getElementById('id_content');
    ele.addEventListener('keydown', function (e) {
        // Get the code of pressed key
        const keyCode = e.which || e.keyCode;
        // 13 represents the Enter key
        if (keyCode === 13 && !e.shiftKey) {
            // Don't generate a new line
            e.preventDefault();
        }
    });
</script>
{% endblock %}