{% extends 'base_generic.html' %}
{% load static %}


{% block content %}

<article class="post mb-4">
    <div class="mt-10">
        {% if not user.is_authenticated %}
            <p class="text-center">
				<span class="text-lg">
					Please 
					<a href="{% url 'accounts:login' %}" class="hover:a a-link">
						login
					</a> or 
					<a href="{% url 'accounts:signup' %}" class="hover:a a-link">
						signup
					</a> to view the contents of this page.
				</span>
			</p>
        {% endif %}
        <h2>Field Booking Sheets and Other Downloads</h2>
		{% if user.is_authenticated %}
        	<p>Select the type on the left menu to display the instructions: </p>
		{% endif %}
    </div>
    {% if messages %}
        <ul class="alert messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}	
    <hr>
	{% if not inst_objs %}
		<div class="mt-4 mb-4">
			<p>
				<span class="text-lg">
					Nothing to display. Please contact <a href="mailto:geodesy@landgate.wa.gov.au?subject=Instrument calibration guide not listed">Landgate</a> for details.
				</span>
			</p>
		</div>
	{% endif %}
	{% if not user.is_authenticated %}
		<div class="flex-with-sidebar">
			<div class="left-sidebar">
				<div class="mt-5 mb-5 py-3">
					<h3>Search by</h3>
					<div class="mt-3 px-1">
						<span class="text-lg" style="margin-right:0.5rem">Baselines: </span>
						<span>
							<select id = "id_select-state" style="width:150px; padding:0.5rem" name="site-name">
								{% for key, value in baselines %}
									{% if 'None' in site_id %}
										<option value="" selected class="default">{{ value }}</option>
									{% else %}
										<option value="{{ key }}">{{ value }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</span>
					</div>
					<div class="mt-3 px-1">
						<span class="text-lg" style="margin-right:0.5rem">Staff Ranges: </span>
						<span>
							<select id = "id_select-state" style="width:150px; padding:0.5rem" name="site-name">
								{% for key, value in staff_ranges %}
									{% if 'None' in site_id %}
										<option value="" selected class="default">{{ value }}</option>
									{% else %}
										<option value="{{ key }}">{{ value }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</span>
					</div>
				</div>
				{% for obj in inst_objs %}
					{% if forloop.first %}
						<button class="tablinks" onclick="openTab(event, '{{obj.id}}')" id="defaultOpen">{{ obj.title }}</button>
					{% else %}
					<button class="tablinks" onclick="openTab(event, '{{obj.id}}')">{{ obj.title }}</button>
					{% endif %}
				{% endfor %}
			</div>
			<div class="post-content pxl-2">
				{% for obj in inst_objs %}
				<div id="{{ obj.id }}" class="tab-content">
					<div class="mt-2 mb-3">
						<div class="flex justify-start py-1 bg-red-100">
							<img src="{{ obj.thumbnail.url }}" alt="" width="45" height="auto">
							<h2 class="pxl-5 text-center"> <u>{{ obj.title }}</u> </h2>
						</div>
						
						<p>{{ obj.content|safe }} </p>
					</div>
					<div>
						{% for img in img_objs %}
							{% if img.instruction == obj %}
							<div><img src="{{ img.photos.url }}" alt="" width="450", height="auto"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				{% endfor %}				
			</div>
		</div>
	{% endif %}
</article>

<script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>

 {% endblock content %}