{% load static %}
<div class="post-content">
    {% if not user.is_authenticated %}
    <p>Please login or signup to manage and calibrate your staff.</p>
    <div class="single-item-container">
        <button
            class="mr-4 px-3 py-1 border border-transparent text-sm font-small rounded text-white bg-blue-500 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
            onclick="location.href='/accounts/login/'">Log in</button>
        or
        <button
            class="ml-4 px-3 py-1 border border-transparent text-sm font-small rounded text-white bg-blue-500 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
            onclick="location.href='/accounts/signup/'">Sign up</button>
    </div>
    <br>
    {% endif %}
    
    <h2 class="post-title">
        EDMI Calibration User Guide
    </h2>

    <div class="mt-5 mb-3 guide_view">
        <ol class="toc-list" role="list">
            <li>
                <a href="#edm-introduction1">
                    <span class="title">1. Introduction</span>
                </a>
            </li>
            <li>
                <a href="#background2">
                    <span class="title">1. Background</span>
                </a>
            </li>
            <li>
                <a href="#controlling-legislation3">
                    <span class="title">3. Controlling Legislation</span>
                </a>
            </li>
            <li>
                <a href="#edm-baselines-provided-in-westernaustralia4">
                    <span class="title">4. EDM Baselines provided in Western Australia</span>
                </a>
                <ol role="list" style="list-style: none;">
                    <li>
                        <a href="#edm-baselines-provided-in-westernaustralia4_1">
                            <span class="title">4.1 Curtin University Baseline</span>
                        </a>
                    </li>
                    <li>
                        <a href="#edm-baselines-provided-in-westernaustralia4_2">
                            <span class="title">4.2 Kalgoorlie Baseline</span>
                        </a>
                    </li>
                    <li>
                        <a href="#edm-baselines-provided-in-westernaustralia4_3">
                            <span class="title">4.3 Busselton Baseline</span>
                        </a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#instrument-calibration-procedure5">
                    <span class="title">5. Instrument Calibration Procedure</span>
                </a>
                <ol role="list" style="list-style: none;">
                    <li>
                        <a href="#instrument-calibration-procedure5_1">
                            <span class="title">5.1 Booking sheets</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_2">
                            <span class="title">5.2 Preparation of equipment</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_3">
                            <span class="title">5.3 Set-up and shade</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_4">
                            <span class="title">5.4 Atmospheric correction control</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_5">
                            <span class="title">5.5 Height of instrument</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_6">
                            <span class="title">5.6 Reflector mountings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_7">
                            <span class="title">5.7 Levelling of equipment</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_8">
                            <span class="title">5.8 Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#instrument-calibration-procedure5_9">
                            <span class="title">5.9 Calibration measurements</span>
                        </a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#measurement-sequence6">
                    <span class="title">6. Measurement Sequence</span>
                </a>
                <ol role="list" style="list-style: none;">
                    <li>
                        <a href="#measurement-sequence6_1">
                            <span class="title">6.1 Curtin University Baseline</span>
                        </a>
                    </li>
                    <li>
                        <a href="#measurement-sequence6_2">
                            <span class="title">6.2 Kalgoorlie Baseline</span>
                        </a>
                    </li>
                    <li>
                        <a href="#measurement-sequence6_3">
                            <span class="title">6.3 Busselton Baseline</span>
                        </a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#edmi-medjil-procedures7">
                    <span class="title">7. Medjil Procedures</span>
                </a>
            </li>
            <li>
                <a href="#potential-error-sources8">
                    <span class="title">8. Potential error sources</span>
                </a>
            </li>
            <li>
                <a href="#reduction-and-interpretation9">
                    <span class="title">9. Reduction and Interpretation</span>
                </a>
            </li>
            <li>
                <a href="#EDM-Definitions10">
                    <span class="title">10. Definitions</span>
                </a>
            </li>
        </ol>
        <hr style="border-top: 1px solid #ccc">
        <div class="fl w-50-ns ph3" id="edm-introduction1">
            <h2>1. Introduction</h2>
            <p>
                This guide outlines the calibraion of Electronic Distance Meters (EDM) in Western Australia.
            </p>
            <p>
                There are three EDM instrumnt calibration baselines in the state that are maintained as subsidiary standards of length 
                and as such are suitable for the calibration and standardisation of EDM instruments. All baselines are designed to 
                support the mass of EDM unit lengths available in the modern market.
                <ul>
                    <li>Curtin University, Kent St, Bentley, 24hrs 7days a week</li>
                    <li>Kalgoorlie Explosives Reserve, Piccadilly St, 7am to 3pm, Mon-Fri. Booking required</li>
                    <li>Busselton Bypass 24hrs 7days a week</li>
                </ul>
            </p>
            <p>
                Landgate re-calibrates EDM baselines every two years or as required. Check the EDM Baseline
                <i>Regulation 13</i> certificate for details.
            </p>
                EDM instrument operators who wish to perform calibrations need to follow the procedures in 
                this document to attain an acceptable calibration of their equipment.
            <p>
            </p>
                The calibration of EDM instrumentation is concerned with the determination of instrument errors. 
                Standardisation refers to the comparison of the instrument to a standard of length traceable 
                to the national standard. Instruments must be calibrated within a prescribed level of precision 
                to be standardised.
            <p>
            </p>
                It is beyond the scope of this procedure to identify all sources of error inherent in EDM equipment. 
                Surveyors should be aware of the limitations of the equipment they use and ensure that it is well 
                maintained and regularly checked by the manufacturer’s agent.
            <p>
        </div>
        
        <div class="fl w-50-ns ph3" id="background2">
            <h2>2. Background</h2>
            <p>
                In 1983, the National Standards Commission (NSC), now incorporated into the National Measurement 
                Institute (NMI), formed a working party on the Calibration of Electromagnetic Distance Measuring 
                (EDM) Equipment. Following both the recommendations of this working party and research by the NSC, 
                it was established that monumented baselines could be certified as subsidiary standards of length 
                under Regulation 13 of the National Measurement Regulations 1999 to provide legal traceability 
                for EDM measurements.
            </p>
            <p>
                Recommendations of specific interest from the NSC working party on the calibration of EDM Equipment 
                of 1 February 1983, include:
                <ul style="list-style: none;">
                    <li>
                        <b>No.2</b> To be certified as a subsidiary standard a baseline must be capable of being calibrated 
                        with an uncertainty of ±[1.5 + (20 x 10-3 x L)] mm at the 95% level of confidence where L is
                        the interval length in metres.
                    </li>
                    <li>
                        <b>No.8</b>  It is recommended that, in general, the minimum standard for the uncertainty of calibration
                         of an EDM, assuming calibration against a monumented base, should be ±[4 + (20 x 10-3 x L)] mm 
                         at the 95% level of confidence where L is the interval length in metres.
                    </li>
                </ul>
            </p>
            <p>
                In accordance with Regulation 73 of the National Measurement Regulations 1999, Surveyor-General of Western 
                Australia is appointed as a Verifying Authority with respect to length. This enables certification of 
                subsidiary standards of length to a certain precision pursuant to Regulation 13 of the National Measurement
                Regulations 1999.
            </p>
            <p>
                Three Western Australian EDM baselines are certified biennial by the Surveyor-General as a reference 
                standard under Regulation 13 of the National Measurement Regulations 1999 (Cth). The calibration of 
                the EDM Baseline is certified annually in accordance with Recommendation No.2.
            </p>
            <p>
                The calibration procedures outlined in this guide and the analysis techniques contained in 
                the calibration portal are capable of meeting the requirement of Recommendation No.8.
            </p>
        </div>
        <div class="fl w-50-ns ph3" id="controlling-legislation3">
            <h2>3. Controlling Legislation</h2>
            <p>
                Matters relating to the uncertainty of surveys are detailed in Regulation 5 of the <i>Licensed
                Surveyors (General Surveying Practice) Regulation 1961</i>.
            </p>
            <p>
                Matters relating to EDMI calibration are detailed in Regulation 20 of the <i>Licensed Surveyors
                (General Surveying Practice) Regulation 1961</i>.
            </p>
        </div>
        <div class="fl w-50-ns ph3" id="edm-baselines-provided-in-westernaustralia4">
            <h2>4. EDM Baselines provided in Western Australia</h2>
            <ul>
                <h3 id="edm-baselines-provided-in-westernaustralia4_1">4.1 Curtin University Baseline</h3>
                <p>
                    In 1995 the Surveyor General reconditioned a ten-pillar baseline at Curtin University
                    which had been in use for approximately ten years. Renovation included the placement of
                    two additional pillars making the baseline a twelve-pillar baseline. New stainless steel
                    pillar plate tops were provided to all pillars, with a 5/8" Whitworth threaded bolt at the
                    centre of each pillar top. This baseline is situated on Curtin University campus parallel to
                    Kent Street, Bentley. The baseline is partially accessible by vehicles at all times via the
                    track alongside the baseline. Permission is not necessary to use the baseline. Any conflict
                    of usage should be decided on a first to occupy basis.
                </p>
                <h3 id="edm-baselines-provided-in-westernaustralia4_2">4.2 Kalgoorlie Baseline</h3>
                <p>
                    This EDM calibration baseline is situated on the Department of Mines and Petroleum Resources
                    Explosives Reserve in Piccadilly Street, Kalgoorlie. The Kalgoorlie baseline consists of 
                    eight pillars set out such that all pillars are colinear. The baseline is readily accessible to
                    2WD vehicles when dry and is situated _1 a non-volatile area of the reserve. Phone in advance
                    to ensure access 9091 7590. Any conflict of usage should be decided on a first to occupy basis.
                </p>
                <h3 id="edm-baselines-provided-in-westernaustralia4_3">4.3 Busselton Baseline</h3>
                <p>
                    This EDM calibration baseline is situated on the Busselton Bypass west of Redgum Way and east
                    of the Bussell Highway. The baseline consists of six pillars set out such that all pillars are 
                    colinear. The baseline is readily accessible to all vehicles. The baseline is accessible by
                    vehicles at all times via the track alongside the length of the baseline. Permission is not 
                    necessary to use the baseline. Any conflict of usage should be decided on a first to occupy basis.
                </p>
            </ul>
        </div>
        <div class="fl w-50-ns ph3" id="instrument-calibration-procedure5">
            <h2>5. Instrument Calibration Procedure</h2>
            <ul>
                <h3 id="instrument-calibration-procedure5_1">5.1 Booking sheets</h3>
                <p>
                    It is recommended that calibration data be recorded digitally and on official booking sheets 
                    provided by Landgate. All details should be recorded and booking sheets signed and dated. 
                    Measurements shall be recorded in units of metres (distance), degrees Celsius (temperature) and 
                    millibars (pressure). Baseline users are required to provide their own copies of booking sheets 
                    for use. Booking sheet may be downloaded from the Landgate website.
                </p>
                <h3 id="instrument-calibration-procedure5_2">5.2 Preparation of equipment</h3>
                <p>
                    Check the levelling bubbles on all tribrachs, reflectors and the theodolite, and if necessary, 
                    adjust before observing distances. Complete EDM instrument 'check and adjust' as per manufacturer
                    instructions.
                </p>
                <h3 id="instrument-calibration-procedure5_3">5.3 Set-up and shade</h3>
                <p>
                    The instrument must be shaded by an umbrella at all times during the calibration. At no time should
                    it be put in its box or left in the sun. It must be switched on and allowed to run, in the shade, 
                    for at least 15 minutes before measurements commence. The instrument should remain switched on during
                     the whole calibration process.
                </p>
                <h3 id="instrument-calibration-procedure5_4">5.4 Atmospheric correction control</h3>
                <p>
                    For instruments with a <b>phase</b> measurement type, it is recommended that the atmospheric 
                    correction for the EDM be set to zero (ppm).
                </p>
                <p>
                    For instruments with a <b>pulse</b> measurement type, the meteorological observations <b>must</b> be 
                    entered into the instrument at the time of the calibration. Distance readings will then be first-velocity 
                    corrected by the on-board EDM software.
                </p>
                <p>
                    Ensure meteorological equipment has stabilised before making observations. When meteorological observations
                    are entered into the instrument for application by the on-board EDM software, it is essential that any 
                    corrections to the meteorological observations are applied before inputting into the instrument.
                </p>
                <h3 id="instrument-calibration-procedure5_5">5.5 Height of instrument</h3>
                <p>
                    The height of the mounted EDM above the base of the tribrach (pillar plate) must be measured accurately to 1mm.
                    This should be done with the foot screws in mid-setting.
                </p>
                <h3 id="instrument-calibration-procedure5_6">5.6 Reflector mountings</h3>
                <p>
                    The same reflector, reflector mounting, and tribrach should be used for all measurements. The height of the 
                    reflector must be measured and recorded in the same manner as for the EDM. The reflector must have a unique 
                    identification (serial number), which must be entered on the booking sheet.
                </p>
                <h3 id="instrument-calibration-procedure5_7">5.7 Levelling of equipment</h3>
                <p>
                    All equipment should be levelled with care on each stations. Start with all foot screws in the mid position.
                    The stainless steel pillar tops have been setlevel on pillars.
                </p>
                <h3 id="instrument-calibration-procedure5_8">5.8 Conditions</h3>
                <p>
                    All calibration measurements must be taken either fully in daytime or fully at night. A mixture of conditions
                    is not acceptable. EDM that are typically used in daytime should be calibrated in daytime.
                </p>
                <h3 id="instrument-calibration-procedure5_9">5.9 Calibration measurements</h3>
                <p>
                    On each line, four separate distance measurements should be taken as a minimum, with re-pointing after each 
                    measurement. Pointing can be optically or electronically performed as prescribed by the manufacturers.
                </p>
            </ul>
        </div>
        <div class="fl w-50-ns ph3" id="measurement-sequence6">
            <h2>6. Measurement Sequence</h2>
                <p>
                    The Western Australian baselines were designed and constructed at a time when the majority of EDM in use 
                    had either 10m or 20m unit lengths. The modern trend in EDM, however, is smaller unit lengths, with 1.5m, 
                    2m, 3m and 5m instruments being more common. There are also EDM in use with unit lengths of 30m and 33m. 
                    Medjil has compiled a list EDMs and their associated unit lengths that are presented as recommmended 
                    specification for instrument make and models.
                </p>
                <p>
                    It is recommended for all instruments, regardless of unit lengths, that an increased number of measurements
                    be taken. The instrument correction determined from these measurements will satisfy the requirements 
                    of the NMI. The additional measurements will strengthen the calibration accuracy and reliability, and the 
                    additional redundancy will support any potential calibration issues associated with pillar movement or 
                    erroneous measurements. 
                </p>
                <ul style="list-style: none;">
                    <h3 id="measurement-sequence6_1">6.1 Curtin University Baseline</h3>
                    <ul style="list-style: none;">
                        <li>Pillar 1 at this site is no-longer suitable for use due to the line-of-sight obstruction by the tree 
                        between pillar 1 and pillar 2.</li>
                        <ul style="list-style: none;">
                            <li><b>From</b>  2 <b>to</b>  3, 4, 5, 6, 7, 8, 9, 10, 11B and 12</li>
                            <li><b>From</b>  3 <b>to</b> 12, 11B, 10, 9, 8, 7, 6, 5 and 4</li>
                        </ul>
                    </ul>
                    <h3 id="measurement-sequence6_2">6.2 Kalgoorlie Baseline</h3>
                    <ul style="list-style: none;">
                        <li><b>From</b>  1 <b>to</b> 2, 3, 4, 5, 6, 7 and 8</li>
                        <li><b>From</b>  2 <b>to</b> 8, 7, 6, 5, 4 and 3</li>
                    </ul>
                    <h3 id="measurement-sequence6_3">6.3 Busselton Baseline</h3>
                    <ul style="list-style: none;">
                        <li><b>From</b> 1 <b>to</b> 2, 3, 4, 5 and 6</li>
                        <li><b>From</b>  2 <b>to</b> 6, 5, 4 and 3</li>
                        <li><b>From</b>  3 <b>to</b> 4, 5 and 6</li>
                        <li><b>From</b>  4 <b>to</b> 6 and 5</li>
                        <li><b>From</b>  5 <b>to</b> 6</li>
                    </ul>
                </ul>
        </div>
        <div class="fl w-50-ns ph3" id="edmi-medjil-procedures7">
            <h3 class="mt0">7. Medjil Procedures </h3>
            <ul style="list-style: none;">
                <li>
                    <b>Step 1:</b> To start a new Staff Calibration, click on the <b>EDM Calibration</b> > <b>EDMI Calibration</b>.
                </li>
                <br>
                <li>
                    <b>Step 2:</b> Click on the <b>Start new calibration</b> button. 
                    <ul>
                        <li><b>Site</b>: select the site from the select the box <i>Auto select corresponding calibration of this baseline</i> and select the specfic calibration of the baseline that is to be used for certified distances.</li>
                        <li><b>Survey date</b>: select date the measurements were observed.</li>
                        <li></b>: select date or leave as default.</li>
                        <li><b>Observer</b>: Enter the name of the observer.</li>
                        <li><b>Weather</b>: Select an applicable description of the weather from the dropdown.</li>
                        <li><b>Job Number/Reference</b>: Optional identification reference</li>
                        <li><b>Comment</b>: Optional Comment</li>
                        <li><b>EDM</b>: select the EDM or enter a new one by clicking on the + button.</li>
                        <li><b>EDM</b>: select the Prism or enter a new one by clicking on the + button.</li>
                        <li>If meteorological observations have <u>not</u> been applied to the distance observations that are to be imported, <b>unselect</b> the checkbox <i>Atmospheric corrections applied to EDM data</i></li>
                        <li><b>Thermometer</b>: select the Thermometer or enter a new one by clicking on the + button.</li>
                        <li><b>Barometer</b>: select the Barometer or enter a new one by clicking on the + button.</li>
                        <li><b>Hygrometer</b>: Optionally, select the Hygrometer or enter a new one by clicking on the + button.</li>
                        <li>
                            If Medjil is <u>not</u> to apply corrections to meterological observations included in the import file, <b>unselect</b>: the checkbox 
                            <ul>
                                <li><i>Thermometer calibration corrections applied</i></li>
                                <li><i>Barometer calibration corrections applied</i></li>
                                <li><i>Hygrometer calibration corrections applied</i></li>
                            </ul>
                        </li>
                        <li><b>Uncertainty budget</b>: select the <i>Uncertainty budget</i> or enter a new one by clicking on the + button.</li>
                        <li><b>A-priori scalar</b>: Optional global scale factor for adjusting the estimation of uncertainty of the distance measurements.</li>
                        <li><b>Rejection Criteria for outlier detection</b>: number of standard deviations to use as a threashold for flagging outliers.</li>
                        <li>If Medjil is <b>not</b> calculate a calibration that tests for cyclic errors, <b>unselect</b> the checkbox <i>Test for cyclic errors</i></li>
                        <li><b>Scanned Fieldnotes</b>: Click the <b>Choose File</b> button to select the field record (in pdf format).</li>
                        <li><b>EDM File (*.csv)</b>: Click the <b>Choose File</b> button to select the csv file.</li>
                        <li>Click the <b>Submit</b> button.</li>
                        <li><b>Note:</b>
                            <ul>
                                <li>Form errors will be shown in red text to help correctly fill the form.</li>
                                <li>
                                    The <b>EDM File (*.csv)</b> must contain the following following column headings and fields:
                                    <ul>
                                      <li>from_pillar: Pillar name as defined in Medjil calibration sites</li>
                                      <li>to_pillar: Pillar name as defined in Medjil calibration sites</li>
                                      <li>height_of_instrument: Height in metres</li>
                                      <li>height_of_target: Height in metres</li>
                                      <li>horizontal_direction(dd): Angle in decimal degrees</li>
                                      <li>slope_distance: Distance in metres</li>
                                      <li>temperature: Temperature in degrees Celsius</li>
                                      <li>pressure: Pressure in Hectopascals or millibars</li>
                                      <li>humidity: Humidity in percentage</li>
                                    </ul>
                                </li>
                                <li>Refer to this <a href="{% static 'data/TestData/edmi calibration/BUSS_edm_calibration_edm_observations.csv' %}" target="_blank"><b>sample dataset</b></a> with the corresponding <a href="{% static 'data/TestData/edmi calibration/BUSS_TS16 EDM Calibration Fieldnotes.pdf' %}" target="_blank"><b>Fieldnotes</b></a> for the required data format.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="fl w-50-ns ph3" id="potential-error-sources8">
            <h2>8. Potential error sources</h2>
            <p>
                There are a number of sources of error inherent in surveying equipment. It is beyond the scope of this procedure to 
                identify all sources of error inherent in surveying equipment. Surveyors should be aware of the limitations of the 
                equipment they use and ensure that it is well maintained and regularly checked.
            </p>
            <p>
                Please refer to the technical manual 
                <a href= "{% url 'calibrationguide:read_manual' manual_name='edmi_calibration_manual.html' %}#EDMI-Chapter3_1" target="_blank" onclick="return showAddPopup(this);">
                    <i>3.1 Systematic errors in EDM instruments</i>
                </a>
                for further explaination.
            </p>
        </div>

        <div class="fl w-50-ns ph3" id="reduction-and-interpretation9">
            <h2>9. Reduction and Interpretation</h2>
            <p>
                Medjil has been developed by Landgate for the calibration of EDM instruments against baselines. The calibration determines 
                the instrument constants, errors and their associated uncertainties from field observations for individual EDM instruments. 
                The adjustment is performed according to ISO standard. The calibration results and measurements for each EDM instrument and 
                baseline are stored in a database for future reference and legal traceability. 
            </p>
            <p>
                An EDM instrument calibration generates an EDM Calibration Report, which includes the following sections:
                <ul>
                    <li>Instruments' Details</li>
                    <li>Baseline Details</li>
                    <li>Certified Baseline Distances Used</li>
                    <li>Least Squares Adjustment Summary</li>
                    <li>Estimated Instrument Correction</li>
                    <li>Statistical Tests</li>
                    <li>Calibration Distance Observations</li>
                    <li>Uncertainty Budget - Uncertainty Sources</li>
                    <li>Combined Uncertainty Budget - Total Distance Uncertainty</li>
                    <li>Uncertainty Groups Contribution to Certified Distances</li>
                    <li>Table of Observations, Corrections, Uncertainties and Residuals</li>
                    <li>Residuals From Least Squares Fit of The Baseline Measurements</li>
                    <li>Comparison of Raw Observations to Certified Slope Distances</li>
                    <li>Return Phase Angle of Observed Distances</li>
                    <li>EDMI Calibration History</li>
                    <li>Report Notes</li>
                    <li>Data Warnings</li>
                    <li>Approvals - signature block</li>
                </ul>
            </p>
            <p>
                The program also generates a concise EDM Calibration Certificate. The Calibration Certificate is an extract of the report and
                contains the following:
                <ul>
                    <li>Instruments' Details</li>
                    <li>Baseline Details</li>
                    <li>Certified Baseline Distances Used</li>
                    <li>Least Squares Adjustment Summary</li>
                    <li>Estimated Instrument Correction</li>
                    <li>Comparison of Raw Observations to Certified Slope Distances</li>
                    <li>EDMI Calibration History</li>
                    <li>Report Notes</li>
                    <li>Data Warnings</li>
                    <li>Approvals - signature block</li>
                </ul>
            </p>
            <p>
                Where the statistical analysis reveals the calibration to be outside tolerances, adherence to the test method equipment settings
                and observation data shall be reviewed to determine the source of the inaccurate results. If changes are made, the calibration 
                shall be re-run and further reviewed. If the statistical analysis continues to fall outside of the tolerance, then the calibration 
                is deemed to be nonconforming.
            </p>
            <p>
                The following is a suggestion for Interpretation of EDMI calibration reports:
                <ul>
                    <li>Review that the header information is correct for the calibration performed.</li>
                    <li><b>Instruments' Details</b> - Review the details and confirm that it is correct for the instrumentation used for the calibration.</li>
                    <li><b>Baseline Details</b> - Check that the date of baseline calibration is appropriate for the EDMI calibration performed.</li>
                    <li><b>Least Squares Adjustment Summary</b></li>
                        <ul>
                            <li>
                                The chi-square (χ2) test on the variance factor will fail if the a-posteriori variance factor is too high, indicating 
                                that larger than expected least squares residuals are present.
                            </li>
                            <li>
                                The chi-square (χ2) test on the variance factor will also fail if the a-posteriori variance factor is too low.
                                This indicates that the weighting of the observations may have been more stringent, with the failure being caused by the 
                                a-posteriori variance factor being ‘too good’.
                            </li>
                            <li>
                                When the least squares adjustment fails the chi-square (χ2) test on the variance factor, the uncertainty budget and 
                                uncertainty sources should be reviewed.
                            </li>
                        </ul>
                    <li><b>Estimated Instrument Correction</b> - Verify that the Estimated Calibration Parameters are commensurate with the model of EDM under test.</li>
                        <ul>
                            <li>
                                As a guide, the estimated Index parameter should not exceed ± a few millimetres.
                            </li>
                            <li>
                                The estimated Scale parameter should not exceed ±3 – 4ppm. Note that a large scale error is often the result of poor modelling of 
                                the meteorological conditions.
                            </li>
                            <li>
                                If the EDM has previously undergone calibration, check if these estimated parameters are of a similar order of magnitude.
                            </li>
                        </ul>
                    <li><b>Calibration Distance Observations</b> - For each inter-pillar distance, check:</li>
                        <ul>
                            <li>The observed distances are entered correctly.</li>
                            <li>The temperature and atmospheric pressure are entered correctly.</li>
                            <li>A minimum of four distances have been entered.</li>
                            <li>The standard deviation is small (usually sub-millimetre).</li>
                        </ul>
                    <li><b>Table of Observations, Corrections, Uncertainties and Residuals</b></li>
                        <ul>
                            <li>
                                Check the <i>Difference to Certified (mm).</i> <i>The Average Distance</i> values are the unadjusted distance observations corrected
                                only for the first velocity correction.
                                <ul>
                                    <li>A larger than expected <i>Difference to Certified (mm)</i> may indicate potential pillar movement, especially if it is repeated a second time to that pillar.</li>
                                    <li>A larger than expected <i>Difference to Certified (mm)</i> may also indicate an error has occurred entering any one of the field observations (i.e. distance, temperature, pressure, instrument height or target height).</li>
                                </ul>	
                            </li>
                            <li>Check the <i>Atmospheric Correction</i> has been applied correctly according to any pre-processing completed on the imported raw observations.</li>
                            <li>Check the <i>Uncertainties Total</i> should be should be commensurate with the instrument under calibration.</li>
                            <li>Check the size of the residuals and standard residuals</li>
                                <ul>
                                    <li>Gross and systematic errors are indicated by the residuals. Values should be commensurate with the instrument specifications.</li>
                                    <li>Observations with very large residuals should be investigated and rejected as appropriate.</li>
                                    <li>Smaller standardised residuals maybe caused by large random errors or systematic errors.</li>
                                </ul>
                        </ul>
                    <li>
                        <b>Residuals From Least Squares Fit of The Baseline Measurements</b> - Inter-pillar distances containing standardised residuals which 
                        exceed the specified residual rejection criterion (i.e. outliers) are flagged with red formatting. Hover over the data point to identify
                        the inter-pillar distance represented and further investigate the origin of the high standard residual.
                    </li>
                    <li><b>Comparison of Raw Observations to Certified Slope Distances</b> - Check data to identify unexpected trends and calibration errors.</li>
                    <li><b>Data Warnings</b> - Check warnings for unexpected comments.</li>
                    <li>
                        <b>Approvals</b> - Following the above-mentioned evaluation of the EDMI Calibration report, and when the analysis indicates 
                        the calibration is within tolerance, the approvals signature block can be signed by the surveyor. The report must be saved to
                        record the calibration in the database.
                    </li>
                </ul>
            </p>
        </div>
        
        <div class="fl w-50-ns ph3" id="EDM-Definitions10">
            <h2>10. Definitions</h2>
            <p>
                <b>National Measurement Institute (NMI)</b> - is a Commonwealth statutory authority established
                in 2004, operating under the National Measurement Act 1960. The Institute is responsible for 
                advising the Government on the scientific, technical and legislative requirements of Australia's 
                national measurement system and has specific responsibilities for co-ordinating the national measurement 
                system for legal metrology.
            </p>
            <p>
                <b>Verifying Authority</b> - the NMI appoints verifying authorities under Regulation 71 and 73 of
                the National Measurement Regulations 1999 in accordance with the National Measurement Act 1960. Verifying
                authorities are appointed where there is a need for legally traceable measurement.
            </p>
            <p>
                <b>Legally Traceable Measurement</b> - under the National Measurement Act 1960 measurements made
                for a legal purpose must be able to be traced back to the National Reference Standard.
            </p>
            <p>
                <b>Legal Metrology</b> - comprises all measurement carried out for legal purpose. It includes all
                measurement that is subject to regulation, by law or government decree.
            </p>
            <p>
                <b>Least Square Adjustment</b> - is rigorous method of adjusting redundant measurements which
                produces the best adjusted values and associated uncertainties.
            </p>
        </div>
    </div>
</div>
