
{% load static %}
{% static 'data/TestData/Range Calibration' as test_dir %}
<div class="post-content">
    <h2 class="post-title">
        Staff Range Calibration User Guide
    </h2>

    <div class="mt-5 mb-3 guide_view">
        <ol class="toc-list" role="list">
            <li>
                <a href="#Range-Introduction">
                    <span class="title">1. Introduction</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
            </li>
            <li>
                <a href="#Range-About">
                    <span class="title">2. About the Boya Staff Calibration Range</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
            </li>
            <li>
                <a href="#Range-Access">
                    <span class="title">3. Boya Access and Field Notes</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
            </li>
            <li>
                <a href="#Range-Field-Procedures">
                    <span class="title">4. Range Calibration - Field Procedures</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
                <ol role="list">
                    <li>
                        <a href="#Range-Field-Procedures-InstChecks">
                            <span class="title">4.1 Instrument Checks</span>
                            <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                        </a>
                    </li>
    
                    <li>
                        <a href="#Range-Field-Procedures-Field">
                            <span class="title">4.2 Range Measurement</span>
                            <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                        </a>
                    </li>
                </ol>
            </li>
            <li>
                <a href="#Range-Medjil-Procedures">
                    <span class="title">5. Range Calibration - Medjil Procedures</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
            </li>
            <li>
                <a href="#Range-Conclusion">
                    <span class="title">6. Conclusion</span>
                    <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                </a>
            </li>
        </ol>
        <br>
        <hr style="border-top: 1px solid #ccc">
        <div id="Range-Introduction">
            <h2>1. Introduction</h2>
            <p>
                Digital levelling systems have long been used by the surveying and engineering industry to determine height differences between any two or multiple locations for various applications. In Western Australia, Landgate is responsible for the national standard of measure for length, in this case, defined by the height difference or length measured in the vertical plane. In an effort to provide an accurate and a uniform system of levelling across the State, Landgate established a staff calibration range at Boya in 2002. The range comprises 2 observing pillars and 21 pins set in a granite outcrop.
                </p>
            <p> 
                Regular measurements done by Landgate (every two years from 2002 and on a monthly basis from 2018 to 2020) show fluctuations in height differences between the pins and appear to form a dominant seasonal cycle. This has lead us to develop this online calibration application to compute an average range (values) for each month of the year. The average range (value) of that particular month is then applied (instead of the most recent) is then applied for calibrating the barcode stave.  
            </p>
            <p><strong>Note:</strong> Only authorised Landgate staffs can see the Range Calibration Menu in Medjil. </p>
        </div>
    
        <div id="Range-About">
            <h2>2. About the Boya Staff Calibration Range</h2>
            <p> The Landgate barcode staff calibration range is located at the Land Surveyors Licensing Board's examination site at Boya and consists of 2 observing pillars and a series of 21 stainless steel pins set in a solid granite outcrop in a semi-arc rounding the two observing pillars.
            </p>
    
            <p> The two observing pillars were first constructed beside a large piece of sloping granite which had the required 4 metres of height difference between top and bottom. The highest pillar is set at a comfortable observing height and the lowest a metre lower and closer to the rock and range. 
            </p>
    
            <p>The pins were glued into drilled holes in the granite while the observing pillars were concreted deep into the ground to ensure their stability. With the 3 metre invar staff, it was possible to observe from Pin 1 to 15 from the high pillar and from Pin 7 to Pin 21 from the lower pillar
            </p>
    
            <div class="grid-2">
                <div>
                    <p>
                        <img src="{% static 'images/CalibrationGuides/staff/observing-pillar 12.png' %}" alt="Observing Pillars" />
                    </p>
                    <h4>Digital level set on Pillar MV 83 (high pillar)</h4>
                    <p>
                        The low pillar or Pillar B can be seen just below the high pillar..
                    </p>
                </div>
                <div>
                    <p>
                        <img src="{% static 'images/CalibrationGuides/staff/invar-staff.png' %}" alt="Invar staff" />
                    </p>
                    <h4>Invar staff set on Pin 2</h4>
                    <p>
                        Invar staves set up on the pins are levelled and is held firmly by a bipole to main stability during the course of reading. 
                    </p>
                </div>
                <div>
                    <p>
                        <img src="{% static 'images/CalibrationGuides/staff/pin-config.png' %}" alt="Pin configuration" />
                    </p>
                    <h4>Stainless steel pins glued in granite rock</h4>
                    <p>
                        The pins were glued into drilled holes in the granite outcrop in an arc shape with a distance of about 10 metres from the high pillar and 8.8 metres from the low one.
                    </p>
                </div>
                <div>
                    <p>
                        <img src="{% static 'images/CalibrationGuides/staff/observing-pillar 11.png' %}" alt="Obsering from Pillar A" />
                    </p>
                    <h4>Observing from Pillar MV 83(high pillar).</h4>
                    <p>
                        With a 3 metre staff, readings can be done only for the first 15 pins using the high pillar.
                    </p>
                </div>
            </div>
        </div>
    
        <div id="Range-Access">
            <h2 class="mt0">3. Boya Access Details and Field Books</h2>
            <p>
                The Boya Barcode Staff Calibration Range is monitored on a regular basis. Landgate provides this staff calibration data processing service to ensure staves are calibrated based on more than two years of monitoring data, which is also updated time-to-time. Please download the following documents before you go to Boya: 
                <ul class="pxl-7">
                    <li><a href="{% static 'images/CalibrationGuides/staff/boya/2017_Access-sketch-Boya-barcode-staff-calibration.pdf' %}" target="_blank">Access details</a> of the Boya barcode staff calibration range</li>
                    <li><a href="{% static 'images/CalibrationGuides/staff/boya/Boya Pin Configuration.pdf' %}" target="_blank">Diagram of the pin configuration</a></li>
                    <li><a href="{% static 'images/CalibrationGuides/staff/boya/Barcoded_booking_sheet.pdf' %}" target="_blank">Barcode Staff Booking Sheet</a></li>
                    <li><a href="{% static 'images/CalibrationGuides/staff/boya/LS15_20200917.ASC' %}" target="_blank">Sample ASCII file</a></li>
                </ul>
                </p>
        </div>
    
        <div id="Range-Field-Procedures">
            <h2 class="mt0">4. Range Calibration - Field Procedures</h2>
            <p>
                For the purpose of calibrating the range, Landgate uses a <u>three</u> metre invar staff (calibrated at the Geodetic Laboratory at the Chair of Geodesy of the Technical University of Munich, Germany) and a Leica LS15 digital level. The advanced comparators used at the Geodetic Laboratory calculates the <strong>Index Correction</strong> of the graduation($l_{0}$), the <strong>Scale Factor</strong> at a standard temperature, and the <strong>Coefficient of Expansion</strong>($\alpha$) based on observations at various temperatures. 
            </p>
    
            <p>
                The field procedures are carried out in two steps, as follows:
            </p>
    
            <ol style="list-style: none;">
                <li id="Range-Field-Procedures-InstChecks">
                    <h3>4.1 Instrument Checks</h3>
                    <p>
                        Several other checks and adjustments are recommended to ensure that measurements are accurate and produce reliable results. This inlcude - correcting the collimation error, aligning the cross-hair, adjusting the level bubbles, checking for any graduation damages on the staff, checking for verticality of the staff, stabily of tripods, and firmware updates on the digital level.   
                    </p>
                    <p>
                        The following instrument checks (No 1-3 in the Booking Sheet) are carried out prior to the field calibration:
                    </p>
                    <ol type="a">
                        <li>
                            <h4>Checking the digital level (bubble)</h4>
                            <p>A Leica LS15 digital level, for example, has a <strong>Adjust</strong> menu under the <strong>Tools</strong> in the main menu.</p>
    
                            <img src="{% static 'images/CalibrationGuides/staff/LS15-adjust-bubble.png' %}" height="30%" style="border: 2px solid #888;" alt="Adjust Level Bubble of Digital Level">
    
                        </li>
                        <li>
                            <h4>Checking the Collimation Error (or line-of-sight) using the Two-Peg-Test.</h4>
                            <p>The line-of-sight error (collimation error) is the vertical angle (&theta;) between the actual line-of-sight and the ideal horizontal line. It is usually determined by a level test called a Two-Peg-Test. To facilitate this test, four collinear spikes in concrete, 20m apart, are available on the access track to the Calibration Range (see, <a href="{% static 'images/CalibrationGuides/staff/boya/2017_Access-sketch-Boya-barcode-staff-calibration.pdf '%}" target="_blank">Access Diagram</a> ). The general procedure for the Two-Peg-Test is shown in the figure below.</p>
                            
                            <img src="{% static 'images/CalibrationGuides/staff/LS15-two-peg-test.png' %}" height="30%" style="border: 2px solid #888;" alt="Two Peg Test">
                            
                            <p>
                                By following the procedures described in the figure above, the line-of-sight (or the Collimation) error can be determined and automatically adjusted by selecting the <strong>F1 Line of Sight</strong> menu under <strong>Tools</strong> in a Leica LS15 digital level. Other instruments may provide similar capabilities and its best to refer to the instrument <i>User Manual</i>.   
                            </p>
                        </li>
                        <li>
                            <h4>Check the level bubble on the invar staff</h4>
                            <p>
                                Invar staves come with two levelling bubbles attached on the rod. The centering of the level bubbles may go off due to shock or stress from transportation and/or normal wear and tear. The level bubbles can be adjusted by setting up the invar staff on stable location and aligning the (top and bottom) tip of the graduation marks (on both sides) with the crosshair of the Digital Level or a Total Station/Theodolite, as shown in the figure below.     
                            </p>
                            <img src="{% static 'images/CalibrationGuides/staff/LS15-adjust-bubble-staff.png' %}" height="30%" style="border: 2px solid #888;" alt="Adjust Level Bubble of Invar Staff">
                        </li>
                    </ol>
                </li>
                <li id="Range-Field-Procedures-Field">
                    <h3>4.2 Range Measurement</h3>
                    <p>After finishing the instrument checks (see, No 1-3 on the Booking Sheet), it is now time to measure the Calibration Range. A Booking Sheet is provided to record the observations details in the field. The general measurement guidelines are as follows:</p>
    
                    <ol type="a">
                        <li>
                            Allow the instrument to acclimatise to the ambient temperature (This also applies to the two-peg-test). Wait approximately 2 minutes per &deg;C of temperature difference. When working under strong sunlight, use an umbrella to shield the Digital Level and the tripod.
                        </li>
                        <li>Check if the Digital Level has an existing staff calibration.  If so, delete it or disconnect it from this calibration session.</li>
                        <li>
                            Configure the settings in the digital level to record mean and standard deviation of measurement from multiple readings (at least five), if possible. Otherwise, if the instrument does not allow means from multiple observations, a minimum of three complete sets of observations (see 8 – 10 below) is required for redundancy.
                        </li>
                        <li>Set up the digital level on the high observing pillar (MV 83) and shade it from the sun.</li>
                        <li>
                            Set up the invar staff on Pin No 1 (i.e., the highest pin) and allow at least 5 minutes to settle and adjust to the ambient air temperature. Record the air temperature in the booking sheet with a shaded thermometer.
                        </li>
                        <li>
                            Start the measurements by observing a Backsight (BS) on Pin 1, Intermediate sights (IS) to Pins 2-20 and a Foresight (FS) to Pillar 21 for a one complete set observations for a 4 m staff. At least two set of observations needs to be carried out to provide redundancy and to enable least squares estimation of standard errors. For a 3 m staff, the FS will be on Pin 15. See more detailsl below:
                        </li>
                        <li>A complete set of observations for a standard <b><u>four</u></b> metre staff consist of:
                            <ul class="pxl-7"> 
                                <li> Set up on Pillar MV 83 (Set 1 & 2)
                                    <ul class="pxl-5">
                                        <li>backsight to the staff at Pin No 1 </li>
                                        <li>intermediate sights to the staff at Pin Nos 2 to 20 </li>
                                        <li>foresight to the staff at Pin No 21 </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>A complete set of observations for a standard <b><u>three</u></b> metre staff consist of:
                            <ul class="pxl-7">
                                <li>Setup on Pillar MV83 (Set 1)
                                    <ul class="pxl-5">						
                                        <li>backsight to the staff at Pin No 1</li>
                                        <li>intermediate sights to the staff at Pin Nos 2 to 14</li>
                                        <li>foresight to the staff at Pin No 15</li>
                                    </ul>
                                </li>
                                <li>Setup on Pillar B (Set 2)
                                    <ul class="pxl-5"> 
                                        <li>backsight to the staff at Pin No 7</li> 
                                        <li>intermediate sights to the staff at Pin Nos 8 to 20</li> 
                                        <li>foresight to the staff at Pin No 21</li> 
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Record the air temperature in the booking sheet at the end of each survey.</li>
                        <li>Download the level data and process the Range Calibration <a href="{% url 'rangecalibration:home' %}">here</a> or follow the next div on Medjil Procedures.</li>
                    </ol>
                </li>
            </ol>
        </div>
    
        <div id="Range-Medjil-Procedures">
            <h2>5. Range Calibration - Medjil Procedures</h2>
            <p>
                This procedure can only be performed by an authorised Landgate Staff. 
            </p>
            <ol style="list-style: none;">
                <li id="Range-Medjil-Procedures1">
                    <h3>5.1 Fieldnotes and Data</h3>
                    <p>The downloaded level data from a Leica Digital level (LS15/16) and the corresponding completed Booking Sheet (No 4) are shown in the figure below. If the downloaded data contains data from other surveys, it needs to be deleted and edited to just contain the right information. See this <a href="{% static 'data/TestData/Range Calibration/M_220608BOYA_Invar26296.ASC' %}" target="_blank">sample dataset</a> to ensure its integrity.</p>
    
                    <div style="display: flex; gap: 30px">
                        <img src="{% static 'images/CalibrationGuides/staff/LS15-DigitalFieldRecord.png' %}" height="600" style="border: 2px solid #888;" alt="Adjust Level Bubble of Invar Staff">
                        <img src="{% static 'images/CalibrationGuides/staff/LS15-FieldBook 2.png' %}" height="600" style="border: 2px solid #888;" alt="Adjust Level Bubble of Invar Staff">
                    </div>
                    <br>
                    <p>At the moment, Medjil can read only read two (GSI) file formats exported by the Leica Digital Level (LS15/16 and DNA03). Should we plan to use digital level from a different manufacturer, a new python function will need to added in <b>'/rangecalibration/views.py'</b> to read a different file format. </p>
                </li>
                <li id="Range-Medjil-Procedures2">
                    <h3>5.2 Staff Range Calibration</h3>
                    <ul style="list-style: none;">
                        <li>
                            <b>Step 1:</b> To start a new Staff Range Calibration, click on the <b>Staff Calibration</b> > <b>Range Calibration</b>.
                        </li>
                        <br>
                        <li>
                            <b>Step 2:</b> Click on the <b>New calibration</b> button. Enter a <b>Job Number</b> with a ten digit alphanumeric code. 
                            <ul>
                                <li><b>Site Name</b>: select <b>Boya</b> from the dropdown.</li>
                                <li><b>Staff Number</b>: select the staff number or enter a new one by clicking on the + button. This is usually an <b>invar</b> staff recently calibrated by an internationally recognised laboratory with values determined for <i>Coefficient of expansion</i>($\alpha$) and <i>the scale factor</i>($m_{0}$) at a <i>standard tempearture</i>($T_{0}$).</li>
                                <li><b>Level Number</b>: select the digital level (number) or enter a new one by clicking on the + button.</li>
                                <li><b>Calibration date</b>: Choose a calibration date.</li>
                                <li>Enter an <b>Observer</b> name or tick the <b>I am the Observer</b>, if the observer is same as the person performing this procedure.</li>
                                <li>Click the <b>next</b> button.</li>
                                <li><b>Note:</b> Form errors will be shown in red text to help correctly fill the form. </li>
                            </ul>                          
                        </li>
                        <br>
                        <li><img src="{% static 'images/CalibrationGuides/staff/Medjil-Step1_2_3.png' %}" alt="Medjil Steps 1-3"></li>
                        <br>
                        <li>
                            <b>Step 3:</b> Enter the temperatures and select the datasets.
                            <ul>
                                <li><b>Start Temperature (set 1)</b>: Temperature at the beginning of measurement. For example, at Pillar MV 83 for a 3 or 4 metre staff.</li>
                                <li><b>End Temperature (set 1)</b>: Temperature at the end of measurement. For example, at Pillar MV 83 for a 3 or 4 metre staff.</li>
                                <li><b>Start Temperature (set 2)</b>: Temperature at the beginning of measurement. For example, at Pillar B for a 3 metre staff and at Pillar MV 83 for a 4 metre staff.</li>
                                <li><b>End Temperature (set 2)</b>: Temperature at the end of measurement. For example, at Pillar  B for a 3 metre staff and at Pillar MV 83 for a 4 metre staff.</li>
                                <li><b>Field Data</b>: Click the <b>Choose File</b> button to select the leica GSI file (in .asc format).</li>
                                <li><b>Field Book</b>: Click the <b>Choose File</b> button to selec the field book (in pdf format).</li>
                                <li>Click the <b>Submit</b> button.</li>
                                <li><b>Note:</b>  
                                    <ul>
                                        <li>Form errors will be shown in red text to help correctly fill the form.</li>
                                        <li>Test data is provided <a href="{% static 'data/TestData/Range Calibration/M_220608BOYA_Invar26296.ASC' %}" target="_blank">here</a> with the corresponding <a href="{% static 'data/TestData/Range Calibration/20220608_Fieldnotes.pdf' %}" target="_blank">Field Book</a> to assist with the Staff Range Calibration procedure.</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <b>Step 4:</b> By submitting the form in <b>Step 3</b>, the next page will tabulate the Range measurements and calculated height differences (uncorrect and corrected for temperature).   
                        </li>
                        <br>
                        <li>
                            <img src="{% static 'images/CalibrationGuides/staff/Medjil-Step4_Range Measurements.png' %}" height="400" style="border: 2px solid #888;" alt="Range Measurement report">
                        </li>
                        <br>
                        <li>
                            <b>Step 5:</b> Click the <b>Adjust</b> button at the to right to generate the Range calibration report/certificate. The Range Calibration report/Certicate contains three tables that is being printed on four pages respectively, by clicking the <b>Print Report >></b> button.
                            <ul>
                                <li>Staff Readings and calculated height differences</li>
                                <li>Adjusted height differences and their uncertainties</li>
                                <li>Height differences and their observed and calculated standard errors</li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <b>Step 6:</b> Calculating the time-dependent Range. 
                            <p>The time-dependent Range is calculated automatically once the <b>Adjust >></b> button is clicked. This is done through the function in <code>rangecalibration/views.py</code> as follows:</p>
                            <code style="text-align: left; white-space: pre;">
                                try:
                                    update_range_table_current(thisRecord)
                                    thisRecord.updated_to = True
                                    messages(request, 'Successfully updated the Calibration Range.')
                                except:
                                    pass 
                            </code>   
                            <p>where, <code>thisRecord</code> refers to the Range being updated for that date.</p>
                            <p>Further, any calibrated Range that are adjusted but may not have been udpated in the above script will be updated when an authorised Landgate user (usually <code>is_staff</code>) clicks the <b>RangeCalibration</b> tab > <code>Staff Calibration > Range Calibration</code>.</p>
                        </li>
                    </ul>
                    
                </li>
            </ol>
            
        </div>
    
        <div id="Range-Conclusion">
            <h2>6. Conclusion</h2>
            <p>
                The Boya Staff Calibration Range  and software developed by the then Department of Land Information (DLI) has enabled surveyors who use digital levels and barcode staves to calibrate their staves in a simple and cost effective manner for use in geodetic and other high order levelling. Both the calibration of the Range and Staves are based on the methods of least squares estimation, which is considered mathematically more rigorous. Medjil will update the estimated (monthly) average of the Staff Calibration Range whenever a new range measurement is added by Landgate. These (monthly) Range values are then used as a reference to calibrate other staves.
            </p>
    
        </div>
    </div>

    <hr style="border-top: 1px solid #ccc">
    <div class="mt-3 mb-3">
        <p><strong>Copyright © 2020-2025 Western Australian Land Information Authority</strong></p>
        <p>Last updated: 24 May 2024</p>
    </div>

</div>

<script>
    MathJax = {
       tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          tags: 'ams'
       },
       svg: {
          fontCache: 'global',
          displayAlign: 'left',
          displayIndent: '2.0em'
       }
    };
 </script>
 
 {% block content %}
 <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
 </script>
 
 {% endblock %}

