{% load static %}

<div>
   {% if not user.is_authenticated %}
   <p>Please login or signup to manage and calibrate your staff.</p>
   <div class="single-item-container">
      <button
         class="mr-4 px-3 py-1 border border-transparent text-base font-normal rounded-md text-white bg-blue-500 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
         onclick="location.href='/accounts/login/'">Log in</button>
      or
      <button
         class="ml-4 px-3 py-1 border border-transparent text-base font-normal rounded-md text-white bg-green-600 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
         onclick="location.href='/accounts/signup/'">Sign up</button>
   </div>

   <br>
   {% endif %}
   
   <h2 class="post-title">
      Staff Calibration Technical Manual
   </h2>
   

   <div class="mt-5 mb-3 guide_view">
      <ol class="toc-list" role="list">
         <li>
            <a href="#Staff-Tech-Introduction">
               <span class="title">1. Introduction</span>
               <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
            </a>
         </li>
         <li>
            <a href="#Staff-Tech-About">
               <span class="title">2. About the Boya Staff Calibration Range</span>
               <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
            </a>
         </li>
         <li>
            <a href="#Staff-Tech-Range">
               <span class="title">3. Staff Range Calibration</span>
               <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
            </a>
            <ol role="list" style="list-style: none;">
               <li>
                  <a href="#Staff-Tech-Range1">
                     <span class="title">3.1 Mathematical model for the calibration of the Barcode Calibration
                        Range</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                  </a>
               </li>

               <li>
                  <a href="#Staff-Tech-Range2">
                     <span class="title">3.2 Observation equations and least squares solution</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                  </a>
               </li>
               <li>
                  <a href="#Staff-Tech-Range3">
                     <span class="title">3.3 Time dependant model</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                  </a>
               </li>
            </ol>
         </li>
         <li>
            <a href="#Staff-Tech-Staff">
               <span class="title">4. Barcode Staff Calibration</span>
               <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
            </a>
            <ol role="list" style="list-style: none;">
               <li>
                  <a href="#Staff-Tech-Staff1">
                     <span class="title">4.1 Mathematical model for the computation of the correction factor of a
                        barcode staff</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
                  </a>
               </li>

               <li>
                  <a href="#Staff-Tech-Staff2">
                     <span class="title">4.2 Observation equations and least squares solution</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                  </a>
               </li>
               <li>
                  <a href="#Staff-Tech-Staff3">
                     <span class="title">4.3 Reducing the Correction Factor to a standard temperature</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                  </a>
               </li>
               <li>
                  <a href="#Staff-Tech-Staff4">
                     <span class="title">4.4 Applying the Correction Factor to observed height differences</span>
                     <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>8</span> -->
                  </a>
               </li>
            </ol>
         </li>
         <li>
            <a href="#Staff-Tech-Conclusion">
               <span class="title">5. Conclusion</span>
               <!-- <span class="page"><span class="visually-hidden">Page&nbsp;</span>5</span> -->
            </a>
         </li>
      </ol>

      <br>
      <hr style="border-top: 1px solid #ccc">
      <div class="cf nr3 nl3">
         <div class="fl w-50-ns ph3" id="Staff-Tech-Introduction">
            <h2>1. Introduction</h2>
            <p>
               Digital levelling systems have long been used by the Surveying and Engineering industry to determine
               height differences between any two or multiple locations for various applications. While the digital
               levelling instruments are incredibly accurate for their intended use, quick temperature changes, shock or
               stress, and wear and tear from daily usage can use signifant deviations and reduce the accuracy of the
               instrument over time. It is therefore, recommended to check and adjust the levelling instruments as per
               manufacturers specifications as well as their corresponding readings through established calibration
               procedures.
            </p>
            <p>
               In Western Australia, Landgate is responsible for the national standard of measure for length, in this
               case, defined by the height difference or length measured in the vertical plane. In an effort to provide
               an accurate and a uniform system of levelling across the State, Landgate established a Staff Calibration
               Range at Boya in 2002. The range comprises 2 observing pillars and 21 pins set in a granite outcrop. The
               pins have been placed at optimum distances from the pillars and cater for testing over a 4 metre height
               difference. The relative height differences between the pins have been accurately determined by repeat
               observations using precision levels in conjunction with calibrated invar staves. Landgate regularly
               monitor and re-measure the Range to ensure its ongoing accuracy. Medjil provides an open-access platform
               to manage the digital levelling instruments and most importantly calibrate the ditital levelling staves
               using dedicated a dedicated calibration facility such as the Boya Staff Calibration Range.
            </p>
            <p>
               This manual describes the steps and mathematical models used for:
            <ul>
               <li>estimating the calibrated height differences and its uncertainty called as <b>Staff Range
                     Calibration</b> </li>
               <li>computing the scale factor for a barcoded staff known as the <b>Barcode Staff Calibration</b></li>
            </ul>
            </p>
         </div>

         <div class="fl w-50-ns ph3" id="Staff-Tech-About">
            <h2>2. About the Boya Staff Calibration Range</h2>

            <p> The Landgate barcode staff calibration range is located at the Land Surveyors Licensing Board's
               examination site at Boya and consists of 2 observing pillars and a series of 21 stainless steel pins set
               in a solid granite outcrop in a semi-arc rounding the two observing pillars.
            </p>

            <p> The two observing pillars were first constructed beside a large piece of sloping granite which had the
               required 4 metres of height difference between top and bottom. The highest pillar is set at a comfortable
               observing height and the lowest a metre lower and closer to the rock and range.
            </p>

            <p>The pins were glued into drilled holes in the granite while the observing pillars were concreted deep
               into the ground to ensure their stability. With the 3 metre invar staff, it was possible to observe from
               Pin 1 to 15 from the high pillar and from Pin 7 to Pin 21 from the lower pillar
            </p>

            <div class="grid-2">
               <div>
                  <p>
                     <img src="{% static 'images/CalibrationGuides/staff/observing-pillar 12.png' %}"
                        alt="Observing Pillars" />
                  </p>
                  <h4>Digital level set on Pillar MV 83 (high pillar)</h4>
                  <p>
                     The low pillar or Pillar B can be seen just below the high pillar..
                  </p>
               </div>
               <div>
                  <p>
                     <img src="{% static 'images/CalibrationGuides/staff/invar-staff.png' %}" alt="Invar staff" />
                  </p>
                  <h4>Invar staff set on Pin 2</h4>
                  <p>
                     Invar staves set up on the pins are levelled and is held firmly by a bipole to main stability
                     during the course of reading.
                  </p>
               </div>
               <div>
                  <p>
                     <img src="{% static 'images/CalibrationGuides/staff/pin-config.png' %}" alt="Pin configuration" />
                  </p>
                  <h4>Stainless steel pins glued in granite rock</h4>
                  <p>
                     The pins were glued into drilled holes in the granite outcrop in an arc shape with a distance of
                     about 10 metres from the high pillar and 8.8 metres from the low one.
                  </p>
               </div>
               <div>
                  <p>
                     <img src="{% static 'images/CalibrationGuides/staff/observing-pillar 11.png' %}"
                        alt="Obsering from Pillar A" />
                  </p>
                  <h4>Observing from Pillar MV 83(high pillar).</h4>
                  <p>
                     With a 3 metre staff, readings can be done only for the first 15 pins using the high pillar.
                  </p>
               </div>
            </div>
         </div>

         <div class="fl w-50-ns ph3" id="Staff-Tech-Range">
            <h2>3. Range calibration</h2>

            <p>The Landgate barcode staff calibration range is located at the Land Surveyors Licensing Board's
               examination
               site at Boya and consists of 2 observing pillars and a series of 21 stainless steel pins set in a solid
               granite
               outcrop. </p>
            <img src="{% static 'images/CalibrationGuides/staff/staff_calibration_pin_config.png' %}" height="30%"
               style="border: 2px solid #888;" alt="Boya barcode staff calibration range">


            <div id="Staff-Tech-Range1">
               <h3>3.1 Mathematical model for the calibration of the Barcode Calibration Range</h3>
               <p>For the the calibrations of the range the following mathematical model is used to fit the observations
                  (height
                  differences) between the pins. Redundant observations are required in order to carry out a least
                  squares
                  adjustment.</p>
               <div>$$ ΔH_{ij}=(M_{jk}-M_{ik})\ \ \ (Eq. 3.1) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;∆H<sub>ij</sub> = height difference between pins i and j</p>
               <p>&emsp;&emsp;M<sub>ik</sub> = staff reading at pin i with a certified invar digital level</p>
               <p>&emsp;&emsp;M<sub>jk</sub> = staff reading at pin j with a certified invar digital level</p>
               <p>&emsp;&emsp;k = observation set number. Each set contains several observations taken with the same
                  instrument (level), staff and instrutment pillar</p>
            </div>

            <div id="Staff-Tech-Range2">
               <h3>3.2 Observation equations and the least squares solution</h3>
               <p>The observation equations are derived from the mathematical model where the residual is the difference
                  between the observed and the most probable height difference between the pins. One observation equation is     formed for each observation. The initial most probabale height difference is adopted as the average height difference between the adjoining pillars if there are more than one observations.
               </p>

               <div>$$ v_k=ΔH_{ij}-[M_{jk}-M_{ik} ]\ \ \ (Eq. 3.2) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;v<sub>k</sub> = residual of the observation set between pins i and j in metres</p> 
               <p>
                  For example, to determine the height interval $\Delta H$ between adjoining Pins i and j using 8 observations sets, the following equations can be used.
                  $$v1 = \Delta H_{ij}   - [M_{j1} - M_{i1}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j2} - M_{i2}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j3} - M_{i3}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j4} - M_{i4}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j5} - M_{i5}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j6} - M_{i6}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j6} - M_{i7}]$$
                  $$v1 = \Delta H_{ij}   - [M_{j8} - M_{i8}]$$  
               </p> 
               <p>Eq. 3.2 can be expressed in a matrix form:</p>
               <div>$$ v = AX + w \ \ (Eq. 3.3)$$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp; 
                  $$A = 
                  \begin{bmatrix}
                      1 \\
                      1 \\
                      1 \\
                      1 \\
                      1 \\
                      1 \\
                      1 \\
                      1
                  \end{bmatrix} &emsp; &emsp;
                  X = 
                  \begin{bmatrix}
                      \Delta H_{ij}
                  \end{bmatrix}  &emsp; &emsp;
                  w = 
                  \begin{bmatrix}
                     M_{j1} - M_{i1} \\
                     M_{j2} - M_{i2} \\
                     M_{j3} - M_{i3} \\
                     M_{j4} - M_{i4} \\
                     M_{j5} - M_{i5} \\
                     M_{j6} - M_{i6} \\
                     M_{j7} - M_{i7} \\
                     M_{j8} - M_{i8}
                  \end{bmatrix}
                  $$
               </p>
               <div>
                  <p>
                     A least squares adjustment computes the most probable values for the height differences between the pins. Any changes to the observations should be as small as possible. A least squares adjustment minimises the sum of the squares of the weighted residuals. The observation matrix (Eq. 3.3) can be combined with a weight matrix, $P$ (Eq. 3.5) to derive the best estimate for $\Delta H_{ij}$, represented by $x$ in Eq. 3.3 as follows:
                  </p>
                  
                  <p>
                     $$x = (A^{T}PA)^{-1} A^{T}Pw  \ \ (Eq. 3.4) $$
                  </p>
               </div>
               <p>where P is a diagonal weight matrix that can be constructed from the a-priori standard daviations ($\sigma$) of each observation sets between pins i and j. For example, for the 8 observation sets as described above, the $P$ matrix is:</p>
               $$P = 
                  \begin{bmatrix}
                      1/\sigma_1^2 \\
                      & 1/\sigma_2^2 \\
                      & & 1/\sigma_3^2 \\
                      & & & 1/\sigma_4^2 \\
                      & & & & 1/\sigma_5^2 \\
                      & & & & & 1/\sigma_6^2 \\
                      & & & & & & 1/\sigma_7^2 \\
                      & & & & & & & 1/\sigma_8^2
                  \end{bmatrix} &emsp; &emsp; or &emsp; &emsp; P = [ \frac{1}{σ_{k}^2}]
               \ \ (Eq. 3.4)$$
               <p>Where:</p>
               <div>$$ \sigma = \sqrt{(\sigma_{M_{i}}^2+\sigma_{M_{j}}^2+\sigma_{T_{ij}}^2)}\ \ \ (Eq. 3.5)$$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;$\sigma$<sub>M<sub>i</sub></sub> = standard deviation of the observations to pin i </p>
               <p>&emsp;&emsp;$\sigma$<sub>M<sub>j</sub></sub> = standard deviation of the observations to pin j </p>
               <p>&emsp;&emsp;$\sigma$<sub>T<sub>ij</sub></sub> = standard deviation of the temperature correction between
                  pin i and j

               <p>
                  Digital levels can now output standard deviations based on the number of readings per observation set by the users.
               </p>

               <p>The uncertainty of the calibrated height difference is the a posteriori standard deviation of the adjusted height difference is and can be expressed at 95% confidence level by mupliplying it by coverage factor k = 1.96:</p>
               <div>$ \sigma_{H_{ij}} = \sqrt{({A}^TPA)^{-1}} * 1.96\ \ \ (Eq. 3.6)$ </div>
            </div>

            <div id="Staff-Tech-Range3">
               <h3>3.3 Time dependant range</h3>

               <p>Regular measurements of the Boya calibration range carried out by Landgate over the years indicated
                  seasonal variations of up to 1 mm, thereby mandating the development of the time-dependent range which are used
                  for (time depandant) staff calibration.</p>
               <p>The range was measured every month over a period of two years and the observations used to estimate
                  the following (see figure below) time dependant values of the range height differences.</p>
               <img src="{% static 'images/CalibrationGuides/staff/staff_calibration_range_param.png' %}" height="30%"
                  style="border: 2px solid #888;" alt="Calibrated height differences at Boya staff calibration range">

               <p>The calibration range is monitored on a regular basis to ensure the validity of the model. Each new
                  recalibration results are compared to the existing (avarege) range results to detect any anomalies.
               <p>
            </div>

         </div>

         <!-- <div id="Chapter_7_2"></div> -->
         <div class="fl w-50-ns ph3" id="Staff-Tech-Staff">
            <h2>4. Barcode Staff Calibration</h2>

            <div id="Staff-Tech-Staff1">
               <h3>4.1 Mathematical model for the computation of the correction factor of a barcode staff (the staff
                  calibibration)</h3>

               <p>To estimate the the correction factor C<sub>f</sub> of a barcoded staff the following mathematical
                  model is
                  used</p>
               <div>$$ C_f=\frac{ΔH_{ij}}{(M_{j}-M_{i})}\ \ \ (Eq. 4.1) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;∆H<sub>ij</sub> = certified range (or height difference between pins i and j)</p>
               <p>&emsp;&emsp;M<sub>i</sub> = barcoded staff reading at pin i</p>
               <p>&emsp;&emsp;M<sub>j</sub> = barcoded staff reading at pin j</p>
            </div>

            <div id="Staff-Tech-Staff2">
               <h3>4.2 Observation equations and least squares solution</h3>
               <div>$$ V_{ij}=1 - \frac{ΔH_{ij}}{[M_{j}-M_{i}]}\ \ \ (Eq. 4.2) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;V<sub>ij</sub> = residual of the correction factor of the height difference between pins i
                  and j
               </p>
               <p>For n pins the following set of equtions can be formed:</p>
               <div>$$ \left[\begin{matrix} v_1=1-∆H_{1,2}/(M_2-M_1 )\\v_2=1-∆H_{1,3}/(M_3-M_1
                  )\\\ldots\\v_{(n-1)}=1-∆H_{(1,n)}/(M_n-M_1 )\\\end{matrix}\right]\ \ \ (Eq. 4.3) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;n = number of pins in the range.</p>
               <p>The above equation can be expressed in a matrix notation:</p>
               <div>$$ V=AX+w\ \ \ (Eq. 4.4) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp; 
                  $$A = 
                  \begin{bmatrix}
                      1 \\
                      1 \\
                      .. \\
                      .. \\
                      1
                  \end{bmatrix} &emsp; &emsp;
                  X = 
                  \begin{bmatrix}
                      C_{f}
                  \end{bmatrix}  &emsp; &emsp;
                  w = 
                  \begin{bmatrix}
                     \Delta H_{1,2}/[M_{2} - M_{1}] \\
                     \Delta H_{1,3}/[M_{3} - M_{1}] \\
                     .. \\
                     .. \\
                     \Delta H_{1,n}/[M_{n} - M_{1}]
                  \end{bmatrix}
                  $$
               </p>
               <div>
                  <p>
                     To determine the best estimate of $C_f$, the observation matrix (Eq. 4.4) can be combined with a weight matrix, $P$ (Eq. 4.6) as follows:
                  </p>
                  
                  <p>
                     $$x = (A^{T}PA)^{-1} A^{T}Pw  \ \ (Eq. 4.5) $$
                  </p>
               </div>
               <p>where P is a diagonal weight matrix that can be constructed from a-priori standard daviations of each observation between pins 1 and $i$.</p>
               <div>$$ P=[ \frac{1}{σ_{k}^2}]\ \ \ (Eq. 4.6)$$ </div>
               <p>Where:</p>
               <div>$$ \sigma = \sqrt{(\sigma_{M_{M1}}^2+\sigma_{M_{Mi}}^2+\sigma_{T_{1i}}^2)}\ \ \ (Eq. 4.7)$$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;$\sigma$<sub>M<sub>1</sub></sub> = standard deviation of the observations to pin 1 </p>
               <p>&emsp;&emsp;$\sigma$<sub>M<sub>i</sub></sub> = standard deviation of the observations to pin i </p>
               <p>&emsp;&emsp;$\sigma$<sub>T<sub>1i</sub></sub> = standard deviation of the temperature correction between
                  pin 1 and i
               <p>
                  The standard deviations $\sigma_{M1}$ and $\sigma_{Mi}$ can be obtained from the staff readings. The uncertainty of the estimated correction factor is the a posteriori
                  standard deviation calculated at 95% confidence level by multiplying with the coverage factor $k$ = 1.96.</p>
                  $$\sigma_C = \sqrt(A^{T}PA)^{-1} \ \ (Eq. 4.8) $$ 
            </div>

            <div id="Staff-Tech-Staff3">
               <h3>4.3 Reducing the Correction Factor to a standart temperature</h3>

               <p>The staff correction factor $C_f$ is estimated at the average temparature during the staff
                  calibration procedure without taking into account any previous calibrations. This is further reduced to a standard temperature T<sub>0</sub>, usually expressed at 25$^\circ$C using the following
                  formula:</p>
               <div>$$ C_{f_{T_0}}=C_f*(1+(\alpha(T_0-T_{obs})))\ \ \ (Eq. 4.9) $$ </div>
               <p>Where:</p>

               <p>&emsp;&emsp;$C_f$ = the estimated staff correction factor with no tempeature correction </p>
               <p>&emsp;&emsp;$T_{0}$ = standard temperature of 25.0$^\circ$C</p>
               <p>&emsp;&emsp;$T_{obs}$ = average temperature [in $^\circ$C] during the staff calibration
                  procedure</p>
               <p>&emsp;&emsp;$\alpha$ = the coefficient of expansion of the barcoded staff</p>
               <p>&emsp;&emsp;$C_{f_{T_{0}}}$ = the staff correction factor to be determined at
                  25.0$^\circ$C</p>
            </div>

            <div id="Staff-Tech-Staff4">
               <h3>4.4 Applying the Correction Factor $C_f$ to observed height differences</h3>

               <p>To correct the height differences obtained from the barcoded staff calibrated as above, the following formula is provided in the staff calibration certificate/report:</p>
               <div>$$ \Delta H_C=((((T_{obs}-T_0)*\alpha)+1)*C_{f_{T_0}})*\Delta H_{obs}\ \ \ (Eq. 4.10) $$ </div>
               <p>Where:</p>
               <p>&emsp;&emsp;$\Delta H_C$ = corrected height difference</p>
               <p>&emsp;&emsp;$T_{obs}$ = average temperature [in $^\circ$C]</p>
               <p>&emsp;&emsp;$T_0$ = standard temperature of 25.0$^\circ$C</p>
               <p>&emsp;&emsp;$\alpha$ = the coefficient of expansion of the barcoded staff</p>
               <p>&emsp;&emsp;$C_{f_{T_{0}}}$ = the staff correction factor at T<sub>0</p>
               <p>&emsp;&emsp;$\Delta H_{obs}$ = observed height difference</p>
            </div>
         </div>
         <div class="fl w-50-ns ph3" id="Staff-Tech-Conclusion">
            <h2>5. Conclusion</h2>
            <p>
               The Boya Staff Calibration Range and software developed by the then Department of Land Information (DLI) has enabled surveyors who use digital levels and barcode staves to calibrate their staves in a simple and cost effective manner for use in geodetic and other high order levelling. Both the calibration of the Range and Staves are based on the methods of least squares estimation, which is considered mathematically more rigorous. Medjil will update the estimated (monthly) average of the Staff Calibration Range whenever a new range measurement is added by Landgate. These (monthly) Range values are then used as a reference to calibrate other staves.
           </p>
           
         </div>
      </div>
   </div>

   <hr style="border-top: 1px solid #ccc">
   <div class="mt-3 mb-3">
      <p><strong>Copyright © 2020-2024 Western Australian Land Information Authority</strong></p>
      <p>Last updated: 24 May 2024</p>
   </div>
</div>

<script>
   MathJax = {
      tex: {
         inlineMath: [['$', '$'], ['\\(', '\\)']],
         tags: 'ams'
      },
      svg: {
         fontCache: 'global',
         displayAlign: 'left',
         displayIndent: '2.0em'
      }
   };
</script>

{% block content %}
<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

{% endblock %}